<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/css/index.css"/>
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <title>BomoBomo</title>
</head>
<body>
<div class="header" th:replace="fragments/header :: header">
</div>
<div class="main-footer-wrap">
    <main>
        <div class="main">
            <div class="main-banner-container">
                <img src="/common/img/main-banner2.jpg" alt="매인배너"/>
            </div>
            <div class="main-letter-container">
                <div class="main-letter">
                    <div class="left-letter">
                        <dl>
                            <dt><strong style="font-size: 23px; line-height: 3;">우리는,</strong></dt>
                            <dd><span>아이돌봄서비스를 연구, 기획하여 육아 가정에 제공하며, 부모님의 육아를 돕습니다.</span></dd>
                            <dd><span>아이, 양육자, 교사 그리고 조직원 간의 지속가능한 행복을 최우선하며 이를 위해 소통에 주력합니다.</span></dd>
                            <dd><span>서비스 품질과 신뢰 만큼은 업계 독보적 기준이 되겠습니다.</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="service-content-container">
                <h2>보모보모 서비스 소개</h2>
                <ul>
                    <li>
                        <figure class="zoom">
                            <img src="/common/img/소개사진1.jpg" alt="소개사진1"/>
                        </figure>
                        <div>
                            <p><span>보모보모</span> | 돌봄 서비스</p>
                        </div>
                    </li>
                    <li>
                        <figure class="zoom">

                            <img src="/common/img/소개사진2.jpg" alt="소개사진2"/>
                        </figure>
                        <div>
                            <p><span>보모보모</span> | 교육 서비스</p>
                        </div>
                    </li>
                    <li>
                        <figure class="zoom">
                            <img src="/event/img/kidsevent.jpg" alt="소개사진3"/>
                        </figure>
                        <div>
                            <p><span>보모보모</span> | 이벤트 서비스</p>
                        </div>
                </ul>
            </div>

            <div class="service-detail-container">
                <dl>
                    <dt>
                        <p>소중한 우리 아이와 만나는 선생님,</p>
                        <p>보모보모가 부모님보다 더 꼼꼼히 검증했어요!</p>
                    </dt>
                    <dd class="service-detail-img"><img src="/common/img/detailService.jpg" alt="서비스디테일사진"/></dd>
                    <dd class="service-detail-section">
                        <div>
                            <h4>엄마보다 깐깐하게</h4>
                            <p>누구보다 깐깐하게 검증하는 보모보모!</p>
                        </div>
                    </dd>
                    <dd class="service-detail-section">
                        <div>
                            <h4>돌봄보다 꼼꼼하게</h4>
                            <p>보모보모가 직접 만드는 커리큘럼!</p>
                        </div>
                    </dd>
                    <dd class="service-detail-section">
                        <div>
                            <h4>언제 어디서나 육아에 도움이 필요할 때!</h4>
                            <p>보모보모쌤을 지금! 불러보세요!</p>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="review-content-contatiner">
                <div class="review-title">

                <h2><span>찐!</span> 이용자인,
                        아이 부모님들이 남기셨어요!</h2>
                        <h2>이렇게나 많은 분들이요!</h2>
                    <a class="go-to-review-page" href="/board/serviceReview">전체 후기 보기</a>

                </div>

                <div class="review-content">

                    <div class="review-panel" >
                    <ul >
                        <li th:each="reviewTop : ${reviewTop}" class="review-section">
                                <img th:src="'/upload/' + ${reviewTop.empImgUploadPath} +'/'+ ${reviewTop.empImgUuid} +'_' + ${reviewTop.empImgName}" alt="보모님 사진"/>
                            <div>
                                <dl>
                                    <dt><strong  th:text="${reviewTop.empName}">이정미 보모님</strong></dt>
                                    <dd class="review-rating">

                                        <span th:if="${reviewTop.rating==1}">★☆☆☆☆</span>
                                        <span th:if="${reviewTop.rating==2}">★★☆☆☆</span>
                                        <span th:if="${reviewTop.rating==3}">★★★☆☆</span>
                                        <span th:if="${reviewTop.rating==4}">★★★★☆</span>
                                        <span th:if="${reviewTop.rating==5}">★★★★★</span>

                                    </dd>
                                    <dd class="review-text"><p th:text="${reviewTop.sitterBoardContent}">정말 손주 보듯이 봐주셨어요!</p></dd>
                                </dl>
                            </div>
                        </li>


                    </ul>

                </div>


                <div class="review-panel2">
                    <ul >
                        <li th:each="eventReviewTop : ${eventReviewTop}" class="review-section">
                            <img th:src="'/upload/' + ${eventReviewTop.eventBoardImgUploadPath} +'/'+ ${eventReviewTop.eventBoardImgUuid} +'_' + ${eventReviewTop.eventBoardImgName}" alt="보모님 사진"/>
                            <div>
                                <dl>
                                    <dt ><strong th:text="${eventReviewTop.eventName}">이정미 보모님</strong></dt>
                                    <dd class="review-rating">
                                        <span th:if="${eventReviewTop.rating==1}">★☆☆☆☆</span>
                                        <span th:if="${eventReviewTop.rating==2}">★★☆☆☆</span>
                                        <span th:if="${eventReviewTop.rating==3}">★★★☆☆</span>
                                        <span th:if="${eventReviewTop.rating==4}">★★★★☆</span>
                                        <span th:if="${eventReviewTop.rating==5}">★★★★★</span>
                                    </dd>
                                    <dd class="review-text"><p th:text="${eventReviewTop.eventBoardContent}">정말 손주 보듯이 봐주셨어요!</p></dd>
                                </dl>
                            </div>
                        </li>


                    </ul>
                </div>

                </div>
<!--                <div class="review-board-bottom">-->
<!--                </div>-->

            </div>

            <div class="company-map-container">
                <h2><span>우린, </span> 여기있어요!</h2>
                <div id="map"></div>
                <div class="company-location-text">
                    <dl>
                        <dt><strong>본사/보모보모연구소</strong></dt>
                        <dd><span>주소</span>서울특별시 노원구 상계로 1길 34 5층</dd>
                        <dd><span>전화</span>02-933-5890</dd>
                    </dl>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="footer" th:replace="fragments/footer :: footer">
</div>


<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c" ></script>
<script src="/common/js/index.js"></script>
<script src="/fragments/js/header.js"></script>

</body>
</html>