.main{
    background-color: rgb(185, 53, 53);
    display: flex;
    justify-content: center;
}

.event-container {
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.event-banner {
    min-width: 1024px;
    width: 100%;
    height: 700px;
    background-color: aqua;
    margin: 0 auto;
    border: 0px solid black;
}

.event-banner img{
    width: 100%;
    height: 100%;
    position: relative;
}

.service-content-container{
    /* border: 2px solid red; */
    width: 1024px;
    margin: 0px auto;
    padding: 90px 0 90px 0;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: 30px;

}



.service-content-container h2 {
    /* border: 2px solid blue; */
    text-align: center;
    padding: 30px;
    font-size: 3em;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    gap: 50px;
    justify-content: center;
}

.board-item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
}

.board-img-box {
    background-color: #FF7000;
}

.board-item-text {
    padding: 10px;
}

.board-item-image {
    width: 200px;
    height: 200px;
    margin-left: 18%;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    position: relative;
    border-radius: 100%;
    background-color: #ffffff;
}

.board-item-image img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.board-item-title {           /* 직원 이름 */
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.board-item-author {        /* 직원 소개 글 */
    font-size: 30px;
    color: #6b0e0e;
}

.page-container {
    margin-top: 50px;
}

/* 페이징 */
.page-a {
    text-decoration: none;
    color: #FF7000;
}

.page-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-num {
    border: 1px solid #FF7000;
    width: 30px;
    height: 40px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    cursor: pointer;
}

.active,
.page-num:hover {
    background-color: #FF7000;
    color: white;
}


