
.main {
    width: 100%;
    height: 100%;
    min-height: 100vm;
}

.payment-section {
    width: 1024px;
    height: 750px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}

.payment-section-name {
    width: 55%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 55px;
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    line-height: 100px; /* 수직 정렬을 위한 높이 설정 */
}

.payment-application {
    top: 50px;
    width: 55%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
    margin: 0 auto;
    display: flex;
}

.payment-application-write{
    margin: 0 auto;
    width: 80%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;

}


.payment-application-write{
    font-size: 30px;
    line-height: 30px;
}




/*이벤트 신청서 내용 부분 */

.eventInfo-area{
    height: 50px;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.eventInfo{
    width: 400px;
    height: 40px;
    margin-top: 30px;

}

.info-date {line-height: 2.3;
    top: -17px;
}

.info-date,
.info-number,
.info-price {
    font-size: 25px;
    width:100px;
    position: absolute;
    left: 25px;
}

.address-main {
    font-size: 25px;
    text-align: left;
    position: absolute;
    left: 25px;
    top : -30px;
}

.addressnum{
    /* float: left; */
    margin-left: -168px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.addressnumbtn{
    width: 70px;
    height: 40px;
    background-color: #FF7000;
    border: 1px solid #FF7000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px; /* 원하는 크기로 설정 */
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}

.addressInput{
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
}

#PostCodeSearch{
    height: 40px;
    background-color: #bbb;
    border: 1px solid #bbb;
    color: white;
    cursor: pointer;
}

.addressplus{
    margin-left: 5px;
    width: 95px;
    height: 40px;
    border-radius: 5px;
}

.addressdetail{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px;

}


/*결제하기 부분*/

.payment-application-button button{

    width: 100px;
    height: 60px;
    background-color: #FF7000;
    border: 1px solid #FF7000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 30px; /* 원하는 크기로 설정 */
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}


.payment-application-button {
    display: flex;
    position: relative;
    margin: 0px 10px 0px 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100px
    height: 150px;
    background-color: rgb(255, 255, 255);
}


