
.main {
    width: 100%;
    height: 100%;
    min-height: 100vm;
}

.event-detail {
    margin-top: 40px;
    width: 100%;
    height: 500px;
    max-height: 800px;
}

.event-detail-banner{
    margin: 0 auto;
    width: 1024px;
    height: 100%;

}

.event-detail-banner img{
    width: 1024px;
    height: 100%;
}

.event-detail-main {
    width: 1024px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 3px rgb(0, 0, 0);
}

.event-main-detail {
    width: 100%;
    height: 500px;
    max-height: 800px;
}

.event-detail-line{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    top: -50px;
}

.event-detail-line::before,
.event-detail-line::after{
    content: "";
    flex-grow: 1;
    background: #bbbbbb;
    height: 1px;
    margin: 16px 5px;
}

.event-main-info{
    margin: 0 auto;
    width: 1024px;
    height: 100%;

}

.event-main-info img{
    width: 1024px;
    height: 100%;
}

.event-apply{
    width: 1024px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.event-apply a {
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 50px;
    font-size: 25px;
    font-weight: 750;
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: #FF7000;
}