* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
a {
    text-decoration: none;
}
hr {
    margin: auto;
    width: 85%;
    text-align: center;
}
li {
    list-style-type: none;
    width: 160px;
    margin-top: 10px;
}

.container {
    width: 1024px;
    margin: 50px auto;
    padding: 40px 0;
    min-height: 1000px;
    border: 1px solid #FF7000;;
    border-radius: 10px;

}

.sitterImg {
    width: 100%;
    height: 400px;
    text-align: left;
}

.sitterInfoList {
    display: flex;
}

.sitterInfoList img {
    margin-left: 180px;
    margin-left: 10px;
    width: 500px;
    height: 360px;
    border: 1px solid #FF7000;
    border-radius: 5px;
    margin-top: 30px;
}

.sitterInfo {
    margin: 30px 0px 15px 10px;
}

.sitterInfo strong {
    font-size: 25px;
}

.sitterInfo span {
    margin-left: 30px;
    font-size: 15px;
    color: darkgray;
}
.sitterCon {
  padding: 10px 20px;
  width: 500px;
  height: 150px;
  border: 1px solid #FF7000;
  border-radius: 10px;  
}

.selfIntroduction {
    margin: 10px auto;
    width: 95%;
    height: 300px;
    background-color: white;
    border: 1px solid #FF7000;
    border-radius: 5px;
}

.sitterContent {
    margin: 10px 0px 0px 10px;
    width: 900px;
    height: 280px;
    padding: 25px 130px;

}

.sitterInfoType {
    width: 95%;
    margin: 10px auto;
    height: 400px;
    border: 1px solid orange;
    background-color: #FF7000;
    border-radius: 10px;
}


.sitterAbility {
    margin-top: 20px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(90px, 100px));
    border-radius: 5px;
}
.sitterAbility img{
    margin-top: 10px;
    margin-left: 0px;
    width: 30px;
    height: 30px;
}

.possibleImg {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    background-color: #FF7000;
    border-radius: 50%;
}

.possibleName {
    font-size: 12px;
    margin-top: 8px;
}

.theBtn {
    height:200px;
}

.sitterSel {
    text-align: center;
}

.sitterSelBtn{
    width : 355px;
    height: 40px;
    margin-top: 50px;  
    color: white;
    background-color: #FF7000;
    border: 2px solid #FF7000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.sitterSelBtn:hover {
  cursor: pointer;
  background-color: orange;

}

.sitterF {
    float: right;
    width : 100px;
    height: 40px;
    margin-top: 90px;
    margin-right: 40px;
    background-color: #FF7000;
    border: 2px solid #FF7000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;

}

.sitterF:hover {
  cursor: pointer;
  background-color: orange;
}
.possible {
    text-align: center;
    font-size: 30px;
}

.ReviewInfo {
    border: 1px solid black;
    width: 250px; 
    height: 58px;

    background-color: #FF7000;
    padding: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
     -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
}

.arrow-next::after {
    position: absolute;
    left: 10px; 
    top: 20px; 
    content: '';
    width: 50px; 
    height: 50px; /* 사이즈 */
    border-top: 5px solid #000; /* 선 두께 */
    border-right: 5px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

















/* 초기화 */
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow{
    width: 1010px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;   
    border: 3px solid blueviolet;
    border-radius: 10px;
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child{
    margin-left: 100px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    margin-right: 100px;
  }
  
  .slides li{
    float: left;
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 40%;
    font-size: 1.3em;
    cursor: pointer;
    background-color: lightgray;

  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    /* background-color: rgba(128, 128, 128, 0.11); */
    background-color: #FF7000;
  }
  
  .prev{
    left: 10px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover{
    transform: translateX(-10px);
  }
  
  .next{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover{
    transform: translateX(10px);
  }

  li img {
    border: 1px solid green;
    border-radius: 5px;
    width: 250px;
    height: 220px;
  }

  li div {
    width: 250px;
    border-radius: 5px;
  }

  .modal {
    
    position: fixed;
    top: 10px;
/* top: ; */
    /* z-index: 100; */
    margin: 100px 250px auto;
    width: 1024px;
    height: 600px;
    background: #FF7000;
    display: none;
    border: 3px solid black;
    border-radius: 10px;
  }


  .modalHeader {
    float: right;
    width: 100%;
    height: 50px;
  }

  .modalX {
    /* margin-top: 2px 2px auto;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    float: right;
    text-align: center; */
    /* background-color: red; */

  }
  .modalX {
    /* display:block; */
    position:absolute;
    width:30px; 
    height:30px;
    border-radius:50%; 
    border: 3px solid #000;
    text-align:center; 
    line-height: 30px;
    text-decoration:none;
    color:#000; font-size:20px; 
    font-weight: bold;
    right:10px; 
    top:10px;
  }

  .modalX:hover {
    background-color: red;
    border: 1px solid black;

  }

  .modalContent {
    text-align: center;
  }

.sitterGrade {
    /*margin-top: 5px;*/
    width: 180px;
    height: 40px;
}

.sitterGrade img{
    position: absolute;
    margin: -3px;
    width: 25px;
    height: 20px;
    border: none;

}
