* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'GmarketSansMedium';
    background-color: white;
}
a {
    text-decoration: none;
}
hr {
    margin: auto;
    width: 85%;
    text-align: center;
}
/*li {*/
/*    list-style-type: none;*/
/*    width: 160px;*/
/*    margin-top: 10px;*/
/*}*/

.container {
    width: 1024px;
    margin: 50px auto;
    padding: 40px 0;
    min-height: 1000px;
    /*border: 1px solid #FF7000;*/
    border-radius: 10px;

}

.sitterImg {
    width: 550px;
    height: 264px;
    text-align: left;
}

.sitterInfoList {
    display: flex;
}

.sitterInfoList img {

    width: 333px;
    height: 263px;
    border-radius: 5px;
    margin-top: 50px;
}
.sitterFaceImg {
    /*border: 1px solid #FF7000;*/
}

.sitterInfo {
    padding-top: 79px;
}

.sitterInfo strong {
    font-size: 20px;
}

.sitterInfo span {
    margin-left: 30px;
    font-size: 15px;
    color: darkgray;
}
.sitterCon {
    padding: 10px 20px 0px 0px;
    width: 260px;
    height: 150px;
    /* border: 1px solid #FF7000; */
    border-radius: 10px;
}

.selfIntroduction {
    margin: 10px auto;
    width: 95%;
    height: 100%;
    /* background-color: white; */
    /* border: 1px solid #FF7000; */
    border-radius: 5px;
}

.sitterContent {
    width: 450px;
    height: 240px;
    border-left: 1px solid gray;
    margin-top: 70px;
    padding: 12px 5px 3px 15px;
    white-space: pre-line;
    font-size: 14px;
}

.sitterInfoType {
    width: 95%;
    margin: 10px auto;
    height: 100%;
    min-height: 300px;
    /* border: 1px solid orange; */
    /* background-color: #F6F6F6; */
    border-radius: 10px;

}

.sitter-wrap{
    width: 1024px;
    margin: 0 auto;
    display: flex;
}
.sitterAbility {

    left: -13px;
    top: -60px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 80px));
    border-radius: 5px;
}
.sitterAbility img{

    width: 60px;
    height: 60px;
}

.possibleImg {
    width: 50px;
    height: 50px;
    /*background-color: #FF7000;*/
    /*border-radius: 50%;*/
}

.possibleImg img{

}

.possibleName {
    font-size: 13px;
    width: 60px;
    padding-top: 5px;
}

.theBtn {
    height:200px;
}
.back-to-sitter-search {

}

.sitterSel {
    text-align: center;
}

.sitterSelBtn{
    width : 355px;
    height: 40px;
    margin-top: 50px;  
    color: white;
    background-color: #FF7000;
    border: 2px solid #FF7000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.sitterSelBtn:hover {
  cursor: pointer;
  background-color: orange;

}

.sitterF {
    float: right;
    width : 80px;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;

}

.sitterF:hover {
  cursor: pointer;
}
.possible {
    text-align: center;
    font-size: 20px;
    padding-top: 40px
}

.ReviewInfo {
    border: 1px solid lightgray;
    height: 58px;
    color: black;
    width: 250px;
    height: 150px;
    padding: 25px 15px 25px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.arrow-next::after {
    position: absolute;
    left: 10px; 
    top: 20px; 
    content: '';
    width: 50px; 
    height: 50px; /* 사이즈 */
    border-top: 5px solid #000; /* 선 두께 */
    border-right: 5px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}

















/* 초기화 */
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow{
      /* width: 800px; */
      height: 300px;
      /* position: relative; */
      margin: 50px auto;
      /* overflow: hidden; */
      /* border: 3px solid blueviolet; */
      box-sizing: border-box;
      border-radius: 10px;
      padding:0px 60px 0px 60px;
  }
  

  

  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 40%;
    font-size: 1.3em;
    cursor: pointer;
    background-color: white;
      box-shadow: #777777 0px 1px 1px 1px;

  }
  


  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  /*.next:hover{*/
  /*  transform: translateX(10px);*/
  /*}*/

  /*li img {*/
  /*  border: 1px solid lightgray;*/
  /*  border-radius: 5px;*/
  /*  width: 250px;*/
  /*  height: 220px;*/
  /*}*/

  /*li div {*/
  /*  width: 250px;*/
  /*  border-radius: 5px;*/
  /*}*/

  .modal {
    position: fixed;
    top: 10px;

    margin: 100px 250px auto;
    width: 1024px;
    height: 600px;
    background: #FF7000;
    display: none;
    border: 3px solid black;
    border-radius: 10px;
  }


  .modalHeader {
    float: right;
    width: 100%;
    height: 50px;
  }

  .modalX {
    /* display:block; */
    position:absolute;
    width:30px; 
    height:30px;
    border-radius:50%; 
    border: 3px solid #000;
    text-align:center; 
    line-height: 30px;
    text-decoration:none;
    color:#000; font-size:20px; 
    font-weight: bold;
    right:10px; 
    top:10px;
  }

  .modalX:hover {
    background-color: red;
    border: 1px solid black;

  }

  .modalContent {
    text-align: center;
  }

.sitterGrade {
    padding-top: 3px;
    /* margin-top: 5px; */
    width: 180px;
    height: 40px;
    color: #e89f14d9;
    font-size: 20px;
}


.start-date {
    font-size: 13px;
}

.sitterGrade img{
    position: absolute;
    margin: -3px;
    width: 25px;
    height: 20px;
    border: none;

}

.sitterPossibleImg {
    margin-top: 10px;
    width: 35px;
    height: 35px;
}


.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}

.sitterHugi {
    /*display: none;*/
    border-radius: 10px;
    /*background: #F1F4F4;*/
}

.slides {
    width: 1024px;
    display: flex
}

