<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminUser.css">
</head>
<body>
<!-- 전체 컨테이너 -->
<div class="admin-container">
    <!-- 사이드 컨테이너 -->
    <div class="side-container">
        <div class="side-logo-box">
            <img class="logo" src="/admin/img/logo.png" alt="logo">
        </div>
        <ul class="side-item-container">
            <li class="side-item" ><a href="/admin/main">대시보드</a></li>
            <li class="side-item on"><a href ="/admin/user">회원정보</a></li>
            <li class="side-item"><a href="/admin/emp">직원관리</a></li>
            <li class="side-item"><a href="/admin/match">매칭관리</a></li>
            <li class="side-item"><a href="/admin/event">이벤트관리</a></li>
            <li class="side-item"><a href="/admin/notice">공지사항</a></li>
        </ul>
    </div>

    <!-- 메인 컨테이너 -->
    <div class="main-container">
        <!-- 메인 헤더 -->
        <div th:replace="fragments/adminHeader :: main-header"></div>
        <!-- 메인 컨텐츠 -->
        <div class="main-contents">
            <div class="contents-title">
                <span class="main-contents-title-text">회원정보</span>
                <div class="user-search-container">
<!--                    <form action="">-->
                        <select class="cate">
                            <option value="userName">이름</option>
                            <option value="userId">아이디</option>
                        </select>
                        <input type="text" class="keyword" id="search" name="keyword"/>
                        <button class="submit" id ="submit">
                            <span class="material-symbols-outlined">search</span>
                        </button>
<!--                    </form>-->
                </div>
            </div>
            <div class="user-main-container">
                <div class="top">
                    <div class="user-num">회원번호</div>
                    <div class="user-name">이름</div>
                    <div class="user-id">아이디</div>
                    <div class="date">가입일</div>
                    <div class="review">작성후기</div>
                </div>
                <div class="user-list"></div>
            </div>
            <div class="user-list-bottom">
                <div class="pagination-container"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:src="@{/admin/js/adminUser.js}"></script>
<script src="/admin/js/adminHeader.js"></script>

</html>