<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminNoticeWrite.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 메인 헤더 -->
        <div th:replace="fragments/adminHeader :: main-header"></div>
        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 사이드 컨테이너 -->
            <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">공지사항</span>
                </div>
            <form action="/admin/noticeRegist" method="post" enctype="multipart/form-data">
                <div class="announce-write-container">
                  <div class="board-main">
                    <div class="write-title">
                       <p class="sub">제목</p>
                      <input class="content-title" name="noticeTitle" type="text" placeholder="제목을 입력하세요" maxlength="50">
                    </div>
                    <div class="board-write">
                      <div class="write-content">
                        <p class="sub">내용</p>
                        <textarea name="noticeContent"></textarea>
                      </div>
                    </div>
                </div>
                </div>
                <div class="bt-container">
                  <a href="/admin/redirect/notice" class="board-home">글 목록</a>
                    <button type="submit" class="write-btn write">등록</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:src="@{/admin/js/adminNoticeWrite.js}"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>