<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminMatch.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 사이드 컨테이너 -->
        <div class="side-container">
            <div class="side-logo-box">
                   <img class="logo" src="/admin/img/logo.png" alt="logo">
            </div>
            <ul class="side-item-container">
                <li class="side-item" ><a href="/admin/Main">대시보드</a></li>
                <li class="side-item"><a href ="/admin/User">회원정보</a></li>
                <li class="side-item"><a href="/admin/Emp">직원관리</a></li>
                <li class="side-item on"><a href="/admin/Match">매칭관리</a></li>
                <li class="side-item"><a href="/admin/Event">이벤트관리</a></li>
                <li class="side-item"><a href="/admin/Notice">공지사항</a></li>
            </ul>
        </div>

        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 메인 헤더 -->
            <div th:replace="fragments/adminHeader :: main-header"></div>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">매칭관리</span>
                    <div class="tag-box">
                        <select class="tag-filter">
                            <option value="all">전체</option>
                            <option value="tag1">면접대기</option>
                            <option value="tag2">결제대기</option>
                            <!-- 필요한 만큼 태그 옵션을 추가하세요. -->
                        </select>
                    </div>
                </div>
                
                <div class="match-container">

                    <div class="post">
                        <div class="status">
                            <p>매칭 번호 : <span>001</span></p>
                            <p>면접대기</p>
                        </div>
                        <div class="user">
                            <p>회원 번호 : <span>001</span></p>
                            <p>회원 이름 : <span>김성찬</span></p>
                            <p>회원 아이디 : <span>spwer12</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                        </div>
                        <div class="emp">
                            <p>직원 번호 : <span>001</span></p>
                            <p>직원 이름 : <span>김성찬</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                            <p>이메일 : <span>zriag@naver.com</span></p>
                        </div>
                        <div class="box">
                            <a href="adminMatchManage.html">
                                <button>관리</button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post">
                        <div class="status">
                            <p>매칭 번호 : <span>001</span></p>
                            <p>면접대기</p>
                        </div>
                        <div class="user">
                            <p>회원 번호 : <span>001</span></p>
                            <p>회원 이름 : <span>김성찬</span></p>
                            <p>회원 아이디 : <span>spwer12</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                        </div>
                        <div class="emp">
                            <p>직원 번호 : <span>001</span></p>
                            <p>직원 이름 : <span>김성찬</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                            <p>이메일 : <span>zriag@naver.com</span></p>
                        </div>
                        <div class="box">
                            <a href="adminMatchManage.html">
                                <button>관리</button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post">
                        <div class="status">
                            <p>매칭 번호 : <span>001</span></p>
                            <p>면접대기</p>
                        </div>
                        <div class="user">
                            <p>회원 번호 : <span>001</span></p>
                            <p>회원 이름 : <span>김성찬</span></p>
                            <p>회원 아이디 : <span>spwer12</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                        </div>
                        <div class="emp">
                            <p>직원 번호 : <span>001</span></p>
                            <p>직원 이름 : <span>김성찬</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                            <p>이메일 : <span>zriag@naver.com</span></p>
                        </div>
                        <div class="box">
                            <a href="adminMatchManage.html">
                                <button>관리</button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post">
                        <div class="status">
                            <p>매칭 번호 : <span>001</span></p>
                            <p>면접대기</p>
                        </div>
                        <div class="user">
                            <p>회원 번호 : <span>001</span></p>
                            <p>회원 이름 : <span>김성찬</span></p>
                            <p>회원 아이디 : <span>spwer12</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                        </div>
                        <div class="emp">
                            <p>직원 번호 : <span>001</span></p>
                            <p>직원 이름 : <span>김성찬</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                            <p>이메일 : <span>zriag@naver.com</span></p>
                        </div>
                        <div class="box">
                            <a href="adminMatchManage.html">
                                <button>관리</button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="post">
                        <div class="status">
                            <p>매칭 번호 : <span>001</span></p>
                            <p>면접대기</p>
                        </div>
                        <div class="user">
                            <p>회원 번호 : <span>001</span></p>
                            <p>회원 이름 : <span>김성찬</span></p>
                            <p>회원 아이디 : <span>spwer12</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                        </div>
                        <div class="emp">
                            <p>직원 번호 : <span>001</span></p>
                            <p>직원 이름 : <span>김성찬</span></p>
                            <p>연락처 : <span>01071921375</span></p>
                            <p>이메일 : <span>zriag@naver.com</span></p>
                        </div>
                        <div class="box">
                            <a href="adminMatchManage.html">
                                <button>관리</button>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="match-list-bottom">
                    <div class="pagination-container">
                        <a href="#" class="bt prev">&lt;</a>
                        <a href="#" class="bt num on">1</a>
                        <a href="#" class="bt num">2</a>
                        <a href="#" class="bt num">3</a>
                        <a href="#" class="bt num">4</a>
                        <a href="#" class="bt num">5</a>
                        <a href="#" class="bt next">&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>