<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminNoticeWrite.css">
</head>
<body>
<!-- 전체 컨테이너 -->
<div class="admin-container">
    <!-- 메인 헤더 -->
    <div th:replace="fragments/adminHeader :: main-header"></div>
    <!-- 메인 컨테이너 -->
    <div class="main-container">
        <!-- 사이드 컨테이너 -->
        <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
        <!-- 메인 컨텐츠 -->
        <div class="main-contents">
            <div class="contents-title">
                <span class="main-contents-title-text">공지사항</span>
            </div>
            <form action="/admin/noticeConfig" method="post" enctype="multipart/form-data">
                <input type="hidden" th:value="${noticeDetail.noticeNumber}" name="noticeNumber"/>
                <div class="announce-write-container">
                        <div class="board-main">
                            <div class="write-title">
                                <p class="sub">제목</p>
                                <input class="content-title" name="noticeTitle" type="text" th:value="${noticeDetail.noticeTitle}" placeholder="제목을 입력하세요" maxlength="50">
                            </div>
                            <div class="board-write">
                                <div class="write-content">
                                    <p class="sub">내용</p>
                                    <textarea name="noticeContent">[[${noticeDetail.noticeContent}]]</textarea>
                                </div>
                            </div>
                        </div>
<!--                    <div class="board-main">-->
<!--                        <div class="write-title">-->
<!--                            <input class="content-title" name="noticeTitle" type="text" th:value="${noticeDetail.noticeTitle}" placeholder="제목을 입력하세요" maxlength="50">-->
<!--                        </div>-->
<!--                        <div class="board-write">-->
<!--                            <div class="write-content">-->
<!--                                <textarea name="noticeContent">[[${noticeDetail.noticeContent}]]</textarea>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="write-bottom">
                    <a href="/admin/redirect/notice" class="write-btn list">목록으로</a>
                    <button type="submit" class="write-btn write">수정</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:src="@{/admin/js/adminNoticeConfig.js}"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>