<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../css/admin_event_detail.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 사이드 컨테이너 -->
        <div class="side-container">
            <div class="side-logo-box">
                   <img class="logo" src="../img/logo.png" alt="logo">
            </div>
            <ul class="side-item-container">
                <li class="side-item" ><a href="/admin/main">대시보드</a></li>
                <li class="side-item"><a href ="/admin/user">회원정보</a></li>
                <li class="side-item"><a href="/admin/emp">직원관리</a></li>
                <li class="side-item"><a href="/admin/match">매칭관리</a></li>
                <li class="side-item on"><a href="/admin/event">이벤트관리</a></li>
                <li class="side-item"><a href="/admin/notice">공지사항</a></li>
            </ul>
        </div>

        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 메인 헤더 -->
            <div class="main-header">
                <span class="main-header-title">BomoBomo</span>
                <span class="admin-name">admin</span>
                <button class="main-header-exit">나가기</button>
            </div>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">이벤트관리</span>
                </div>
                <div class="event-detail-container">
                    <div class="event-main">
                        <div class="event-title">
                            <p>이벤트 명 : <span>땅파기</span></p>
                        </div>
                        <div class="event-img">
                            <img src="../img/event1.jpg" alt="eventImg">
                        </div>
                        <div class="detail">프로그램 상세설명</div>
                        <div class="event-detail-img">
                            <img src="../img/event1detail.png" alt="eventDetail">
                        </div>
                        <div class="event-cost">
                            <p>비용 : <span>5,000</span></p>
                        </div>
                    </div>
                    <div class="bt-container">
                        <a href="adminEvent.html" class="board-home">글 목록</a>
                        <a href="adminEventModify.html" class="board-fix">수정</a>
                        <a href="adminEvent.html" class="board-delete">삭제</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/admin/js/adminHeader.js"></script>
</html>