<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminNoticeDetail.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 메인 헤더 -->
        <div th:replace="fragments/adminHeader :: main-header"></div>
        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 사이드 컨테이너 -->
            <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">공지사항</span>
                </div>
                <div class="announce-detail-container">
                    <div class="board-main">
                        <div class="board-view">
                          <!-- 게시글 제목 -->
                          <div class="title" th:text="${noticeDetail.noticeTitle}"></div>
                          <!-- 게시글 정보 -->
                          <div class="info">
                            <!-- dl 리스트 사용해서 게시글 정보 나열 -->
                            <dl>
                              <dt>번호</dt>
                              <dd th:text="${noticeDetail.noticeNumber}"></dd>
                            </dl>
                            <dl>
                              <dt>등록일</dt>
                              <dd th:text="${noticeDetail.noticeRegisterDate}"></dd>
                            </dl>
                            <dl>
                              <dt>조회수</dt>
                              <dd th:text="${noticeDetail.noticeCount}">23</dd>
                            </dl>
                          </div>
                          <!-- 게시글 작성내용 -->
                          <div class="board-content">
                              <textarea readonly>
[[${noticeDetail.noticeContent}]]
                              </textarea>
                          </div>
                          <!-- 게시글 버튼 컨테이너 -->
                        </div>
                    </div>
                </div>
                <div class="bt-container">
                    <a href="/admin/redirect/notice" class="board-home">글 목록</a>
                    <a th:href="@{/admin/adminNoticeConfig( noticeNumber=${noticeDetail.noticeNumber} )}" class="board-fix">수정</a>
                    <a th:href="@{/admin/adminNoticeDelete( noticeNumber=${noticeDetail.noticeNumber} )}" class="board-delete">삭제</a>
                  </div>
            </div>

        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>