<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminEmpDetail.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 메인 헤더 -->
        <div th:replace="fragments/adminHeader :: main-header"></div>
        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 사이드 컨테이너 -->
            <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">직원관리</span>
                </div>
                <div class="emp-detail-container">
                    <div class="emp-info-container1">
                        <div class="img">
                        </div>
                        <div class="info">
                            <span class="emp-num">no.<span th:text="${empDetail.empNumber}">1</span></span>
                            <span class="name" th:text="${empDetail.empName}">김보노</span>
                            <span class="age-gender"><span th:text="${empDetail.empAge}"/>세</span><span> 남</span>
                            <span class="rating">★★★☆☆</span>
                            <span class="review">후기 10개</span>
                            <div class="info-detail">
                                <p class="emp-phone">연락처: <span th:text="${empDetail.empPhone}">01071921375</span></p>
                                <p class="emp-email">이메일: <span th:text="${empDetail.empEmail}">zriag@naver.com</span></p>
                            </div>
                            <p class="emp-date">입사일: <span th:text="${empDetail.empDate}">2023-09-15</span></p>
                            <fieldset class="tag">
                                <legend>활동</legend>
                                    <ul class="act-item-container">
                                    </ul>
                            </fieldset>

                        </div>
                    </div>
                    <div class="emp-info-container2">
                        <div class="introduction">
                            <div class="title">간단 자기소개</div>
                            <textarea id="selfint" name="selfint" readonly>
[[${empDetail.empContent}]]
                            </textarea>
                        </div>
                    </div>

                </div>
                <div class="bt-container">
<!--                    <a href="/admin/emp" class="board-home">목록으로</a>-->
                    <a th:href="@{/admin/adminEmpConfig( empNumber=${empDetail.empNumber} )}" class="board-fix">수정</a>
                    <a th:href="@{/admin/adminEmpDelete( empNumber=${empDetail.empNumber} )}" class="board-delete">삭제</a>
                </div>
            </div>
        </div>
    </div>
<input type="hidden" id="empNumber" th:value="${empDetail.empNumber}">
<input type="hidden" id="empImgUploadPath" th:value="${empDetail.empImgUploadPath}">
<input type="hidden" id="empImgName" th:value="${empDetail.empImgName}">
<input type="hidden" id="empImgUuid" th:value="${empDetail.empImgUuid}">
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:src="@{/admin/js/adminEmpDetail.js}"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>