<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminEventDetail.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 사이드 컨테이너 -->
        <div class="side-container">
            <div class="side-logo-box">
                   <img class="logo" src="/admin/img/logo.png" alt="logo">
            </div>
            <ul class="side-item-container">
                <li class="side-item" ><a href="/admin/main">대시보드</a></li>
                <li class="side-item"><a href ="/admin/user">회원정보</a></li>
                <li class="side-item"><a href="/admin/emp">직원관리</a></li>
                <li class="side-item"><a href="/admin/match">매칭관리</a></li>
                <li class="side-item on"><a href="/admin/event">이벤트관리</a></li>
                <li class="side-item"><a href="/admin/notice">공지사항</a></li>
            </ul>
        </div>

        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 메인 헤더 -->
            <div class="main-header">
                <span class="main-header-title">BomoBomo</span>
                <span class="admin-name">admin</span>
                <button class="main-header-exit">나가기</button>
            </div>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">이벤트관리</span>
                </div>
                <div class="event-detail-container">
                    <div class="event-main">
                        <div class="event-title">
                            <p>이벤트 명 : <span th:text="${eventDetail.eventName}">땅파기</span></p>
                        </div>
                        <div class="event-img">
                        </div>
                        <div class="detail">프로그램 상세설명</div>
                        <div class="event-detail-img">
                        </div>
                        <div class="event-cost">
                            <p>비용 : <span th:text="${eventDetail.eventPrice}"></span></p>
                        </div>
                    </div>
                    <div class="bt-container">
                        <a href="/admin/redirect/event" class="board-home">글 목록</a>
                        <a th:href="@{/admin/adminEventConfig( eventNumber=${eventDetail.eventNumber} )}" class="board-fix">수정</a>
                        <a th:href="@{/admin/adminEventDelete( eventNumber=${eventDetail.eventNumber} )}" class="board-delete">삭제</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" th:value="${eventDetail.eventNumber}" class="event-num">
    <input type="hidden" id="eventUploadPath" th:value="${eventDetail.eventImgUploadPath}">
    <input type="hidden" id="eventImgUuid" th:value="${eventDetail.eventImgUuid}">
    <input type="hidden" id="eventImgName" th:value="${eventDetail.eventImgName}">
    <input type="hidden" id ="eventDetailUploadPath" th:value="${eventDetail.eventDetailUploadPath}">
    <input type="hidden" id ="eventDetailUuid" th:value="${eventDetail.eventDetailUuid}">
    <input type="hidden" id ="eventDetailName" th:value="${eventDetail.eventDetailName}">
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:src="@{/admin/js/adminEventDetail.js}"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>