<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminMain.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 메인 헤더 -->
        <div th:replace="fragments/adminHeader :: main-header"></div>
        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 사이드 컨테이너 -->
            <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">대시보드</span>
                </div>
                <div class="grid-container">
                    <div class="grid-item signup-chart">
                        <div><span>주간 회원가입</span></div>
                        <canvas id="join-chart" class="jc"></canvas>
                    </div>
                    <div class="grid-item sales-chart">
                        <div><span>주간 매출현황</span></div>
                        <canvas id="sales"></canvas>
                    </div>
                </div>
                <div class="bottom-container">
                    <div class="bottom-contents">
                        <div class="bottom-title"><span>미정</span></div>
                        <div class="bottom-main"></div>
                    </div>
                </div>
            </div>
            <!-- /메인 컨텐츠 -->
        </div>
        <!-- /메인 컨테이너 -->
    </div>
    <!-- /전체 컨테이너 -->
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/admin/js/adminMain.js"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>