<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../css/admin_user_detail.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 사이드 컨테이너 -->
        <div class="side-container">
            <div class="side-logo-box">
                   <img class="logo" src="../img/logo.png" alt="logo">
            </div>
            <ul class="side-item-container">
                <li class="side-item" ><a href="adminMain.html">대시보드</a></li>
                <li class="side-item on"><a href ="adminUser.html">회원정보</a></li>
                <li class="side-item"><a href="adminEmp.html">직원관리</a></li>
                <li class="side-item"><a href="adminMatch.html">매칭관리</a></li>
                <li class="side-item"><a href="adminEvent.html">이벤트관리</a></li>
                <li class="side-item"><a href="adminNotice.html">공지사항</a></li>
            </ul>
        </div>

        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 메인 헤더 -->
            <div class="main-header">
                <span class="main-header-title">BomoBomo</span>
                <span class="admin-name">admin</span>
                <button class="main-header-exit">나가기</button>
            </div>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">회원정보</span>
                </div>
                <div class="user-detail-container">
                    <div class="detail-title"><p>김성찬 님의 회원정보</p></div>
                    <div class="detail-info">
                        <ul class="detail-side">
                            <li class="detail-item">이름</li>
                            <li class="detail-item">아이디</li>
                            <li class="detail-item">전화번호</li>
                            <li class="detail-item">현재상태</li>
                            <li class="detail-item">주소</li>
                        </ul>
                        <ul class="detail-main">
                            <li class="detail-item"><input type="text" value="김성찬" readonly></li>
                            <li class="detail-item"><input type="text" value="spwer12" readonly></li>
                            <li class="detail-item"><input type="text" value="01071921375" readonly></li>
                            <li class="detail-item"><input type="text" value="면접대기" readonly></li>
                            <div class="address-container">
                                <div>
                                    <li class="detail-item">
                                        <input class="number" type="text" value="01256" readonly>
                                        <input class="road" type="text" value="덕릉로57길29-5" readonly>
                                    </li>
                                </div>
                                <li class="detail-item"><input type="text" value="301호" readonly></li>
                            </div>
                        </ul>
                    </div>
                    <a href="adminUser.html">
                        <button>뒤로가기</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>