<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminNotice.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="admin-container">
        <!-- 메인 헤더 -->
        <div th:replace="fragments/adminHeader :: main-header"></div>
        <!-- 메인 컨테이너 -->
        <div class="main-container">
            <!-- 사이드 컨테이너 -->
            <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">공지사항</span>

                    <div class="notice-search-container">
                            <select class="cate">
                                <option value="noticeTitle">제목</option>
                            </select>
                            <input type="text" class="keyword" name="keyword" id="search" />
                            <button type="submit" class="submit" id="submit">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                    </div>

                </div>
                <div class="announce-list-container">
                    <div class="top">           
                        <div class="announce-num">번호</div>
                        <div class="announce-title">제목</div>
                        <div class="date">등록일</div>
                        <div class="count">조회수</div>
                    </div>
                    <div class="announce-list"></div>
                </div>
                <div class="announce-list-bottom">
                    <div class="pagination-container"></div>
               </div>
            </div>

        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:src="@{/admin/js/adminNotice.js}"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>