<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/admin/css/adminUserDetail.css">
</head>
<body>
<!-- 전체 컨테이너 -->
<div class="admin-container">
    <!-- 메인 헤더 -->
    <div th:replace="fragments/adminHeader :: main-header"></div>
    <!-- 메인 컨테이너 -->
    <div class="main-container">
        <!-- 사이드 컨테이너 -->
        <nav th:replace= "fragments/adminSide :: side-container" class="side-container"></nav>
            <!-- 메인 컨텐츠 -->
            <div class="main-contents">
                <div class="contents-title">
                    <span class="main-contents-title-text">회원정보</span>
                </div>
                <div class="user-detail-container">
                    <table class="register-table">
                        <colgroup>
                            <col style="width: 180px" />
                            <col style="width: auto" />
                        </colgroup>
                        <tr>
                            <th scope="row">회원이름</th>
                            <td>
                                <input type="text" class="text-input" th:value="${userDetail.userName}" id="name" name="userName" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td>
                                <input type="text" class="text-input" th:value="${userDetail.userId}" id="id" name="userId" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>
                                <input type="text" class="text-input" th:value="${userDetail.userEmail}" id="email" name="userEmail" readonly>
                            </td>
                        </tr>

                        <tr>
                            <th>연락처</th>
                            <td>
                                <input type="text" class="text-input" th:value="${userDetail.userPhone}" id="phone" name="userPhome" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>가입일</th>
                            <td>
                                <input type="text" value="2023-09-29" th:value="${userDetail.registerDate}" name="RegisterDate" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <div class="address-container">
                                    <div>
                                        <li class="detail-item">
                                            <input class="number" type="text" th:value="${userDetail.addressPost}" readonly>
                                            <input class="road" type="text" th:value="${userDetail.address}" readonly>
                                        </li>
                                    </div>
                                    <li class="detail-item"><input type="text" th:value="${userDetail.addressDetail}" readonly></li>
                                </div>
                            </td>
                        </tr>
                    </table>
<!--                    <a href="/admin/user">-->
<!--                        <button>목록으로</button>-->
<!--                    </a>-->


<!--                    <div class="detail-title">-->
<!--                        <span th:text="${userDetail.userName}"></span>-->
<!--                        <span>님의 회원정보</span>-->
<!--                    </div>-->
<!--                    <div class="detail-info">-->
<!--                        <ul class="detail-side">-->
<!--                            <li class="detail-item">이름</li>-->
<!--                            <li class="detail-item">아이디</li>-->
<!--                            <li class="detail-item">이메일</li>-->
<!--                            <li class="detail-item">연락처</li>-->
<!--                            <li class="detail-item">가입일</li>-->
<!--                            <li class="detail-item">주소</li>-->
<!--                        </ul>-->
<!--                        <ul class="detail-main">-->
<!--                            <li class="detail-item"><input type="text" th:value="${userDetail.userName}" readonly></li>-->
<!--                            <li class="detail-item"><input type="text" th:value="${userDetail.userId}" readonly></li>-->
<!--                            <li class="detail-item"><input type="text" th:value="${userDetail.userEmail}" readonly></li>-->
<!--                            <li class="detail-item"><input type="text" th:value="${userDetail.userPhone}" readonly></li>-->
<!--                            <li class="detail-item"><input type="text" th:value="${userDetail.registerDate}" readonly></li>-->
<!--                            <div class="address-container">-->
<!--                                <div>-->
<!--                                    <li class="detail-item">-->
<!--                                        <input class="number" type="text" th:value="${userDetail.addressPost}" readonly>-->
<!--                                        <input class="road" type="text" th:value="${userDetail.address}" readonly>-->
<!--                                    </li>-->
<!--                                </div>-->
<!--                                <li class="detail-item"><input type="text" th:value="${userDetail.addressDetail}" readonly></li>-->
<!--                            </div>-->
<!--                        </ul>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/admin/js/adminHeader.js"></script>
</html>