<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--페이지마다 경로 개인이 수정하여 사용하기-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/event/css/eventdetail.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/common/js/common.js" defer></script>

    <!--common.js에서 제이쿼리 경로 수정하기!-->

</head>

<body>
<!--헤더영역-->
<div class="header" th:replace="fragments/header :: header">
</div>
    <div class="main" style="height: 1300px;" th:each="event:${detail}">
        <div class="event-detail"  >
            <div class="event-detail-banner">
                <p th:text="${event.eventImgName}"></p>
                <img th:src="'/upload/' + ${event.eventDetailUploadPath} + '/' + ${event.eventDetailUuid} +'_' + ${event.eventDetailName}">
            </div>
        </div>
        <div class="event-detail-main">`
            <div class="evetn-detail-line">
                <span>프로그램 상세설명</span>
            </div>
        </div>

        <div class="event-main-detail">
            <div class="event-main-info">
                <img th:src="'/upload/' + ${event.eventImgUploadPath} + '/' + ${event.eventImgUuid} +'_' + ${event.eventImgName}">
            </div>
        </div>
        <div class="event-apply">
            <a th:href="@{/event/payment(eventNumber=${event.eventNumber})}">신청하기</a>
        </div>
    </div>
</main>


<!--푸터영역-->
<div class="footer" th:replace="fragments/footer :: footer">
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/fragments/js/header.js"></script>
</body>

<!--폰트 임포트는 common.css에 있음-->
</html>