<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--페이지마다 경로 개인이 수정하여 사용하기-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/common/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/header.css"/>
    <link rel="stylesheet" href="/event/css/event.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/common/js/common.js" defer></script>
    <script src="/event/js/event.js" defer></script>
    <!--common.js에서 제이쿼리 경로 수정하기!-->

</head>

<body>
<!--헤더영역-->
<div class="header">
</div>
<main style="height: 2000px;">
    <div class="event-container">
        <div class="event-banner" >
            <img src="/event/img/kidsevent.jpg" alt="이벤트메인배너"/>
            <h1 class="event-banner-text"></h1>
        </div>
        <div class = "event-info-main">
            <div class="event-info" style="line-height:50%;">
                <p class="title-text" >
                    Play, Learn, and Grow <br>
                    <strong class="event-up">이벤트</strong>
                </p>
                <br>
                <a1>아이들은 이벤트에서 스스로 원하는 것을 표현하고, 즐겁고 신나게 놀며 성장합니다.</a1>
                <br>
                <br>
                <a2>아동창의연구소의 커리큘럼에 따라 <strong>매월 업데이트</strong>되는 이벤트 프로그램은
                    <br>방문한 아이들에게 늘 새로운 경험을 선사합니다.</a2>
            </div>
        </div>
        <div class="evnet-categorie">
            <div class="service-content-container">
                <h2>보모보모 이벤트 소개</h2>
                <ul>
                    <li>
                        <a href="eventdetail.html">
                            <img src="/event/img/event1.jpg" alt="소개사진1"/>
                        </a>
                        <div>
                            <p><span>오싹오싹 당근농장</span></p>
                        </div>

                    </li>
                    <li><img src="/event/img/event2.jpg" alt="소개사진2"/>
                        <div>
                            <p><span>싱글벙글 감귤밭</span></p>
                        </div>

                    </li>
                    <li><img src="/event/img/event3.jpg" alt="소개사진3"/>
                        <div>
                            <p><span >첨첨첨벙 해남/해녀</span></p>

                        </div>
                    <li><img src="/event/img/event4.jpg" alt="소개사진3"/>
                        <div>
                            <p><span>콩은 변신쟁이</span></p>
                        </div>
                    </li>

                </ul>
            </div>
            <button class="recently-section-button recently-left-button"><span class="material-symbols-outlined">
                                <
                                </span>
            </button>
            <button class="recently-section-button recently-right-button"><span class="material-symbols-outlined">
                                >
                                </span></button>
        </div>





    </div>
    <!--개인 작업 영역-->






</main>


<!--푸터영역-->
<div class="footer">
</div>

</body>

<!--폰트 임포트는 common.css에 있음-->
</html>