<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--페이지마다 경로 개인이 수정하여 사용하기-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/event/css/event.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/common/js/common.js" defer></script>
    <script src="/event/js/event.js" defer></script>
    <!--common.js에서 제이쿼리 경로 수정하기!-->

</head>

<body>
<!--헤더영역-->
<div class="header" th:replace="fragments/header :: header">
</div>
<main style="height: 1000px;">
    <div class="event-container">
        <div class="event-banner-container" >
            <img src="/event/img/play.jpg" alt="매인배너"/>
            <div class="event-letter-container"  >
                <div class="event-letter">
                    <dl>
                        <dt><strong style="font-size: 30px; line-height: 4;">이벤트</strong></dt>
                        <dd><span>아이들은 이벤트에서 스스로 원하는 것을 표현하고, 즐겁고 신나게 놀며 성장합니다.</span></dd>
                        <dd><span>아동창의연구소의 커리큘럼에 따라 <strong>매월 업데이트</strong> 되는 이벤트 프로그램은</span></dd>
                        <dd><span>방문한 아이들에게 늘 새로운 경험을 선사합니다</span></dd>
                    </dl>
                </div>
            </div>
        </div>

                <div class="event-title-tap">
                    <h2>보모보모 이벤트 목록</h2>
                </div>
        <div class="swiper-container" >
            <div class="swiper-wrapper" >
                <div class="swiper-slide" th:each=" event : ${list}">
                    <a th:href="@{/event/detail(eventNumber=${event.eventNumber})}">
                    <div class="image-container">
                        <img th:src="'/upload/' + ${event.eventImgUploadPath} + '/' + ${event.eventImgUuid} +'_' + ${event.eventImgName}">
                    </div>
                    <div class="title-container" th:text="${event.eventName}">
                    </div>
                    </a>
                </div>

                <!-- 다른 이미지와 제목을 가진 슬라이드를 더 추가하세요 -->
            </div>

                    <!-- 네비게이션 -->
                    <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                    <div class="swiper-button-prev"></div><!-- 이전 버튼 -->

                    <!-- 페이징 -->
                    <div class="swiper-pagination" style="color: black"></div>
                </div>
    </div>
</main>


<!--푸터영역-->
<div class="footer" th:replace="fragments/footer :: footer">
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/fragments/js/header.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
</body>

<!--폰트 임포트는 common.css에 있음-->
</html>