
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--페이지마다 경로 개인이 수정하여 사용하기-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/event/css/eventPayment.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d8cddce5e1cf36a90728390b847c19c" ></script>
    <script src="/common/js/common.js" defer></script>
    <script src="/event/js/eventPayment.js" defer></script>

    <!--common.js에서 제이쿼리 경로 수정하기!-->

</head>

<body>
<!--헤더영역-->
<div class="header" th:replace="fragments/header :: header">
</div>
<main style="height: 850px;">
    <div class="payment-section">
        <div class="payment-section-name">이벤트 신청서</div>
        <div class="payment-application">
            <form class="payment-application-write" >
                <div class="eventInfo-area">
                    <div class="info-date" style="text-align: left;" >날짜 및 시간</div>
                    <input class="eventInfo" id="eventDate" type="text" placeholder="(ex: 2023/09/18 오후 2시)" required>
                </div>

                <div class="eventInfo-area">
                    <div class="info-number" style="text-align: left;">휴대폰 번호</div>
                    <input class="eventInfo" type="text" id="phoneNumber" placeholder="(ex: 010-xxxx-xxxx)" required>
                </div>

                <div class="eventInfo-area">
                    <div class="info-price" style="text-align: left;">이벤트 가격</div>
                    <li th:each="event : ${payment}" >
                    <input class="eventInfo" type="text" id="price" th:value="${event.eventPrice}" disabled>
                    </li>
                </div>

                <div class="eventInfo-area" style="margin-top: 60px;">
                    <div class="address-main">주소</div>
                    <input type="text" class="addressnum" id="address-num" placeholder="우편번호" >
                    <button type="button" class="addressnumbtn" value="우편번호 찾기" onclick="addressFind()" style= "font-size: 20px;">우편번호</button>
                    <br/>
                    <input type="text" class="addressInput" id="address" placeholder="주소 입력" >
                    <br/>
                    <input type="text" class="addressplus" id="address_extra" placeholder="참고주소" >
                    <input type="text" class="addressdetail" id="address_detail" placeholder="상세주소 입력" >
                </div>
                <div class="eventInfo-area">
                    <li th:each="event : ${payment}" >
                    <input type="hidden" id="eventName" th:value="${event.eventName}">
                    </li>
                </div>


        <div class="payment-application-button" style="margin-top: 100px" >
            <button type="button" id="check_module">결제하기</button>
        </div>
        </form>
        </div>
    </div>
</main>


<!--푸터영역-->
<div class="footer" th:replace="fragments/footer :: footer">
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/fragments/js/header.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script th:inline="javascript">
    let loginNumber = [[${session.userNumber}]];
    let loginName = [[${session.userName}]];
</script>
</body>

<!--폰트 임포트는 common.css에 있음-->
</html>