<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--페이지마다 경로 개인이 수정하여 사용하기-->
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/fragments/css/header.css"/>
  <link rel="stylesheet" href="/fragments/css/footer.css"/>
  <link rel="stylesheet" href="/common/css/common.css"/>
  <link rel="stylesheet" href="/event/css/recruitment.css"/>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="/common/js/common.js" defer></script>
  <script src="/event/js/event.js" defer></script>
  <!--common.js에서 제이쿼리 경로 수정하기!-->

</head>

<body>
<!--헤더영역-->
<div class="header" th:replace="fragments/header :: header">
</div>
<div class="main" style="height: 2950px;">
  <div class="banner1-container" >
    <img src="/event/img/123456.jpg" alt="매인배너"/>
    <div class="banner1-letter-container"  >
      <div class="main-letter">
        <dl>
          <dt><strong style="font-size: 22px; line-height: 3;">우리는,</strong></dt>
          <dd><span>"동료 간 배려와 협력으로 함께 일하는 것이 즐겁고, 맡은</span></dd>
          <dd><span>일과 소속 조직에 대한 자부심을 느낍니다. 또한 서로 믿고</span></dd>
          <dd><span>존중하며 신뢰 기반에서 성장과 발전의 기쁨을 함께 나누는</span></dd>
          <dd><span>보모보모가 자랑스럽습니다"</span></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="main-sub-latter">`
    <div class="main-sub-latter-container">
      <div class="aaa">
        <dl>
          <dt> 당신에게 일은</dt>
          <dd> 어떤 의미 인가요?</dd>
        </dl>
      </div>
      <div class="bbb"><dl>
        <dt>보모보모와 함께 일하고 싶은 동료로 이런 분을 말했습니다.<br>
          내 얘기라면, 보모보모로 이사오세요.</dt><br>
        <dd>· 이 사회가 조금 더 나아지는데 기여하고 싶으세요?</dd>
        <dd>· 내 한계를 한정짓거나 포기하지 않으며 적어도 어제보단 오늘이 나은 사람이 되려고 하나요?</dd>
        <dd>· 편안함에 안주하는 삶보다 발전하는 삶을 지향하나요?</dd>
        <dd>· 내 실수를 인정하고 그 배움을 공유할 수 있나요?</dd>
        <dd>· 호기심이 많고 새로운 것을 배우는 걸 좋아하나요?</dd>
        <dd>· 자신의 생각을 다른 사람에게 나누고 발전시킬 수 있나요?</dd>
        <dd>· 회사의 성장이 곧 나의 성장이라고 생각하고 어려운 얘기도 묻어두지 않고 앞장설 수 있나요?</dd>
        <dd>· 내 주변을 살필 여유와 함께 동료가 필요한 것을 캐치해내는 사회적 감수성을 지니고 있나요?</dd>
        <dd>· 내 경험과 역량을 넘어서는 프로젝트에 도전하기를 좋아하면서 성취감과 유쾌함을 느끼나요?</dd>
        <dd>· 자신이 한 말에는 책임을 지는 동료인가요?</dd>
      </dl>
      </div>
    </div>
  </div>
  <div class="banner2-container">
    <img src="/event/img/kids1.webp" alt="매인배너"/>
    <div class="banner2-quest-container"  >
      <div class="banner2-quest">
        <dl>
          <dt><strong>왜 보모보모인가요?</strong></dt>
          <dd><span>복지와 혜택</span></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="banner2-latter">`
    <div class="banner2-latter-container">
      <div class="ccc">
        <dl>
          <dt> 잘하기 위한</dt>
          <dd> 보상과 결단</dd>
        </dl>
      </div>
      <div class="ddd"><dl>
        <dd>자유로운 개발자 컨퍼런스(aws summit, spring camp, swift conference 등) 참석</dd>
        <dd>스톡옵션</dd>
        <dd>국내 일반/특수대학원 등록금, 입학금 100% 지원</dd>
        <dd>국내외 온/오프라인 교육비 100% 지원</dd>
        <dd>최고의 동료들과 일할 수 있는 기회</dd>
        <dd>핵심가치에 부합하는 직원만 선발</dd>
        <dd>돌봄복지 (본인 자녀를 위해 연 240만원 상당의 돌봄 포인트 지급)</dd>
        <dd>업무 시 필요한 하드웨어(PC, Mac Book) 및 소프트웨어 최신 사양 제공</dd>
        <dd>어버이날 선물(직원 부모님에게 발송)</dd>
        <dd>역량에 맞는 연봉제도 및 협상</dd>
        <dd>팀 성과에 따른 연봉협상</dd>
        <dd>성과급제도</dd>
        <dd>업무관련 비용 100%지원 (도서, 워크샵, 세미나참석 등)</dd>
      </dl>
      </div>
    </div>
  </div>
  <div class="banner3-latter">`
    <div class="banner3-latter-container">
      <div class="eee">
        <dl>
          <dt> 멀리 함께</dt>
          <dd> 가고픈 마음</dd>
        </dl>
      </div>
      <div class="fff"><dl>
        <dt>보모보모</dt>
        <dd>사유를 묻지 않는 휴가</dd>
        <dd>급한 용무를 위한 반반차(2시간)</dd>
        <dd>+ Refresh 휴가 : 재충전이 필요한 당신, 방학을 드려요!</dd>
        <dd>3년 근속 2주, 5년 근속 3주 유급휴가 (영업일 기준 각 10일, 15일)</dd>
        <dd>+ 여름아, 휴가를 부탁해! 여름휴가 유급 3일</dd>
        <dd>+ 생일에는 일하지 마세요. 생일휴가 유급 1일</dd>
        <br>

        <dt>보모섬</dt>
        <dd>+ 1년 근속 시 2주 유급휴가 (근무일수 만큼)</dd>
        <dd>비수기 (3-6월, 9-11월)에 사용 가능, 6개월 이내에 소진 (성수기 포함)</dd>
        <dd>+ 여름아, 휴가를 부탁해! 여름 유급 3일</dd>
        <dd>+ 생일에는 일하지 마세요. 생일휴가 유급 1일</dd>
      </dl>
      </div>
    </div>
  </div>
  <div class="banner3-container">
    <img src="/event/img/hand.jpg" alt="매인배너"/>
    <div class="banner3-quest-container"  >
      <div class="banner3-quest">
        <dl>
          <dt><strong>보모보모에서 당신을 기다립니다</strong></dt>
        </dl>
      </div>
    </div>
  </div>
</div>




<!--푸터영역-->
<div class="footer" th:replace="fragments/footer :: footer">
</div>
</main>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/fragments/js/header.js"></script>
</body>

<!--폰트 임포트는 common.css에 있음-->
</html>