<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제내역</title>
  <link rel="stylesheet" href="/common/css/common.css"/>
  <link rel="stylesheet" href="/fragments/css/footer.css"/>
  <link rel="stylesheet" href="/fragments/css/header.css"/>
  <link rel="stylesheet" href="/mypage/css/buyEventpage.css"/>

  <script src="/common/js/index.js" defer></script>
  <script src="/common/js/common.js" defer></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/mypage/js/buyEventPage.js" defer></script>
</head>
<body>
<div class="header" th:replace="fragments/header.html :: header" >
</div>
<main>
  <div class="buy-container">
    <div class="section">
      <aside class="menu-bar">
        <!--
                            <a href="/Mypage/html/mypage_main.html" class="logo-img">
                                <img src="/Mypage/img/logo.png">
                            </a> -->

        <div class="announcement">
          <!--클릭시  페이지 이동-->
          <a href="/board/notice">공지사항</a>
        </div>
        <div class="faq">
          <a href="/board/faq">FAQ</a>
        </div>
        <div class="pay">
          <a href="/mypage/buy">결제내역</a>
        </div>
        <div class="account-mg">
          <a href="/mypage/userManage">계정관리</a>
        </div>
      </aside>
      <div class="page-view">
        <div class="page-title">

          <p>
            <a href="/mypage/main">결제내역</a>
          </p>

        </div>
        <div class="review-page-area">
          <p class="sitter-area">시터이용 내역</p>

          <p class="event-area" style="background-color: rgb(255, 112, 0); color: white;">이벤트 결제 내역</p>

        </div>

        <!--이벤트 이용 후기 결제 내역 조회-->
        <div class="buyboxp">

          <ul class="buy-area-2" th:each="event : ${eventList}">
            <li class="buy-text-2">
              <div class="img-area-2">
                <figure>
                  <!--데이터에서 파일 불러오기-->
                  <img th:src="@{/myPages/eventimg(fileFullPath=${event.eventImgUploadPath} + '/' + ${event.eventImgUuid} + '_' + ${event.eventImgName})}">
                </figure>
              </div>
              <div class="buy-text-area-2">
                <!--클릭시 url이동-->
                <a href="#">
                  <p>[보모보모]</p>
                  <p th:text="${event.eventName}"></p>
                </a>
              </div>

              <div class="price-2">
                <a th:if="${event.reviewCheck >= 1}" href="javascript:void(0)" class="text-page-2">
                  <p>리뷰작성완료</p>
                </a>
                <a th:if="${event.reviewCheck == 0}" th:href="@{/mypage/reviewwrite(eventNumber=${event.eventNumber})}" class="text-page-2">
                  <p>리뷰작성</p>
                </a>
                <span th:text="${event.eventPrice}+'원'"></span>
              </div>
            </li>

          </ul>
          <div class="paging1">
            <ul class="page1">
              <a th:href="@{/mypage/buyEvent(page=${pageVO.startPage + 1})}" class="page-c" th:if="${pageVO.prev}">
                <li class="page-num1 prev">&lt</li>
              </a>

              <th:block th:each="e:${#numbers.sequence(pageVO.startPage,pageVO.endPage)}">
                <a th:href="@{/mypage/buyEvent(page=${e})}">
                  <li th:text="${e}"></li>
                </a>
              </th:block>

              <a th:href="@{/mypage/buyEvent(page=${pagrVO.endPage - 1})}" class="page-d" th:if="${pageVO.next}">
                <li class="page-num1 next">&gt</li>
              </a>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="footer" th:replace="fragments/footer.html :: footer">
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</body>
</html>