<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시물 작성</title>
  <link rel="stylesheet" href="/mypage/css/siterReview.css" />
  <link rel="stylesheet" href="/common/css/common.css"/>
  <link rel="stylesheet" href="/fragments/css/footer.css"/>
  <link rel="stylesheet" href="/fragments/css/header.css"/>

  <script src="/common/js/index.js" defer></script>
  <script src="/common/js/common.js" defer></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div th:replace="fragments/header.html :: header" >
</div>

<div class="container">
  <div class="section">
    <aside class="menu-bar">
      <!-- <a href="/Mypage/html/mypage_main.html" class="logo-img">
          <img src="/Mypage/img/logo.png">
      </a> -->
      <div class="announcement">
        <!--클릭시  페이지 이동-->
        <a href="#">공지사항</a>
      </div>
      <div class="faq">
        <a href="#">FAQ</a>
      </div>
      <div class="pay">
        <a href="/mypage/buy">결제내역</a>
      </div>
      <div class="account-mg">
        <a href="/mypage/userManage">계정관리</a>
      </div>
    </aside>
    <div class="page-view">
      <div class="page-title">
        <p>
          <a href="/mypage/main">리뷰 작성</a>
        </p>
      </div>
      <div class="review-container">
        <form class="new-post-form" action="#" method="#">
          <div class="form-group">
            <label for="post-title" class="title">제목
              <p>
                <span>시터:</span>
                <span class="sister-name">임형준</span>
              </p>
            </label>
            <input type="text" id="post-title" name="boardTitle" required />
          </div>
          <div class="form-group">
            <label for="post-content">내용</label>
            <textarea id="post-content" name="boardContent" rows="10" required></textarea>
            <div class="grade-group">
              <fieldset class="grade">
                <!-- <span class="text-bold">평점</span> -->
                <input type="radio" name="reviewStar" value="1" id="rate1"><label
                      for="rate1">★</label>
                <input type="radio" name="reviewStar" value="2" id="rate2"><label
                      for="rate2">★</label>
                <input type="radio" name="reviewStar" value="3" id="rate3"><label
                      for="rate3">★</label>
                <input type="radio" name="reviewStar" value="4" id="rate4"><label
                      for="rate4">★</label>
                <input type="radio" name="reviewStar" value="5" id="rate5"><label
                      for="rate5">★</label>
                <span class="text-bold">평점</span>
              </fieldset>
            </div>
          </div>

          <button type="submit" class="submit-btn">게시물 작성</button>
        </form>
      </div>
    </div>

  </div>
</div>
<div th:replace="fragments/footer.html :: footer">
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="mypage/js/siterReview.js"></script>
</body>
</html>