.header{

    width: 100%;
    height: 60px;
}

.header-wrap{

    height: 60px;

}
/* 헤더 전체영역 컨테이너 */
.header-container {
    z-index:999999;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    min-width: 1024px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #FF7000;

}

/* 로고 영역 */
/* 로고 설정 */
.logo-container {

    /* border: 2px solid red; */
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.15em;

}

.logo-container ul {
    display: flex;
    align-items: center;
    width: 180px;
}
.logo-container ul li {
    width: 60px;
}

.logo {
    width: 60px;
}

.logo img {
    width: 70px;
    height: 60px;
}

.logo-title h1{
    font-size: 1.15em;
    letter-spacing: -2px;
    color: #000;
    /*font-weight: bold;*/
    font-family: 'KIMM_Bold';
    position: relative;


}



/* 메인메뉴설정  */
.nav-container nav ul {

    box-sizing: border-box;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 530px;
    height: 60px;
}

.nav-container nav ul li {
    width: 100%;
}

#downMenu{
    position: relative;
}

.sub-menu {
    /* border: 2px solid red; */
    position: absolute;
    padding-top: 20px;
    background-color: white;
    height: 150px;

}
.sub-menu dt {
    display: none;
}
.sub-menu dd {
    height: 40px;
}
.sub-menu dd> a {
    display: inline;
    height: 35px;
    font-size: 0.85em;
    color: rgb(122, 122, 122);
    font-weight: normal;
    font-family: GmarketSansMedium;

    position: relative;
}

.sub-menu dd a:hover{
    color: black;
    font-weight: bold;
    border-bottom: 1px solid gray;
}












/* 로그인/회원가입 설정 */
.right-menu-container {
    width: 294px;
    /* border: 2px solid darkcyan; */
}

.right-menu-container ul {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    width: 190px;
    height: 60px;
    /* border: 2px solid red; */

}

.right-menu-container ul li {
    text-align: center;
    width: 100px;
    /* border: 2px solid red; */

}


.nav-container nav ul li> a,
.right-menu-container ul li a {
    font-size: 0.9em;
    color: black;
    font-weight: bold;
    font-family: 'GmarketSansMedium';

}