<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/board/css/board.css"/>
    <link rel="stylesheet" href="/board/css/boardServiceReview.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 이용 후기</title>
</head>
<body>
<div class="header" th:replace="fragments/header :: header"></div>
<main style="height: 1400px;">
    <div class="review-banner-container">
        <div class="review-banner">
            <img src="/board/img/boardBannerImg.png" alt=""/>

            <p>이곳은, <br>소중한 후기들이 모여있는 곳입니다</p>
        </div>
    </div>
    <div class="review-container service-review">
        <div class="review-main-title">
            <h3>후기 게시판</h3>
        </div>
        <div class="review-title-container">
            <div class="reivew-section-title">
                <ul>
                    <li><a href="/board/serviceReview" style="color: black;">돌봄 후기</a></li>
                    <li><a href="#">이벤트 후기</a></li>
                </ul>
            </div>
            <div class="review-search">
                    <div class="sitter-name-select" style="display: none">
                        <select name="cate" id="sitter-name" class="cate">
                            <option value="sitterName">이름</option>
                        </select>
                    </div>
                    <div class="search-bar">
                        <input type="text" name="keyword" class="keyword" placeholder="시터님을 검색해보세요!"/>
                    </div>
                    <div class="sitter-search-btn">
                        <button type="button">
                                <span class="material-symbols-outlined">
                                search
                                </span>
                        </button>
                    </div>
            </div>
        </div>
<!--        리뷰영역-->
        <div class="review-content-container">
            <ul class="review-ul">


            </ul>
        </div>
        <!-- 페이징처리 -->
        <div class="review-pagenation-container">
            <ul>

            </ul>
        </div>
    </div>
</main>
<div class="footer" th:replace="fragments/footer :: footer">
</div>

`
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<!-- <script src="/board/js/boardFAQ.js" defer></script> -->
<script src="/fragments/js/header.js"></script>
<script src="/board/js/boardServiceReview.js"></script>


</body>
</html>