<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/sample/choices" method="post">
        언어놀이<input type="checkbox" value="1" name="sample" class="sample"/>
        숫자놀이<input type="checkbox" value="2" name="sample" class="sample"/>
        영어놀이<input type="checkbox" value="3" name="sample" class="sample"/>
        야외놀이<input type="checkbox" value="4" name="sample" class="sample"/>
        실내놀이<input type="checkbox" value="5" name="sample" class="sample"/>
        <button>전송</button>
    </form>

</body>
</html>