<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/board/css/board.css"/>
  <link rel="stylesheet" href="/board/css/boardServiceReviewDetail.css"/>
  <link rel="stylesheet" href="/common/css/common.css"/>
  <link rel="stylesheet" href="/fragments/css/footer.css"/>
  <link rel="stylesheet" href="/fragments/css/header.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
</head>
<body>
<div class="header" th:replace="fragments/header :: header"></div>

<main style="height: 100%; padding-bottom: 50px;"th:each="reviewDetail : ${serviceReviewDetail}">
  <div class="review-detail-container"  >

    <!-- 리뷰 대상자(시터 정보) -->
    <div class="review-detail-sitter">
      <div class="review-detail-sitter-pic">
        <img src="/board/img/reviewImg.webp" alt="리뷰" />
      </div>
      <div class="review-detail-sitter-info">
        <dl class="review-detail-sitter-name">
          <dt>
            <p th:text="${reviewDetail.empName}"><span><strong></strong></span></p>
            <p>시터님에 대한 리뷰입니다.</p>
          </dt>
          <dd>
            <dl class="review-sitter-avg-score">
              <dt ><strong>평균 별점</strong></dt>
              <dd>
                <img src="/common/img/star.png" alt="">
              </dd>
              <dd  ><span th:text="${getAvg} + '/ 5'"><strong></strong></span> </dd>
            </dl>
          </dd>
        </dl>
      </div>
    </div>
    <div class="review-detail-content" >
      <!-- 리뷰 평점 / 리뷰작성일자 -->
      <div class="review-score-date">
        <ul>
          <li>
            <img src="/common/img/star.png" alt="">
          </li>
          <li th:text="${reviewDetail.rating}"><span>4.5/5</span></li>

          <li th:if="${reviewDetail.sitterBoardModifyDate!=reviewDetail.sitterBoardRegisterDate}">
            <p>수정일자 <span th:text="${reviewDetail.sitterBoardModifyDate}"> 2023/09/16</span></p>
          </li>
          <li>
            <p>작성일자 <span th:text="${reviewDetail.sitterBoardRegisterDate}"> 2023/09/16</span></p>
          </li>
          <li>
            <p>조회수 <span th:text="${reviewDetail.sitterBoardCount}"> </span></p>
          </li>
        </ul>
      </div>
      <!-- 리뷰 작성자 -->
      <div class="review-userid" >
        <p th:text="${reviewDetail.userId}"><span><strong>보노보노</strong></span>님이 남기신 리뷰입니다.</p>
      </div>

      <!-- 리뷰내용 -->
      <div class="review-user-content" th:text="${reviewDetail.sitterBoardContent}">

      </div>
      <!-- 리뷰 수정 삭제 목록 버튼-->
      <div class="update-delete-btn" >
        <th:block th:if="${session.userNumber==reviewDetail.userNumber}">
        <button class="updateBtn">수정</button>
        <button class="deleteBtn" type="button" th:data-number="${reviewDetail.sitterBoardNumber}">삭제</button>
        </th:block>
        <button class="reviewListBtn" onclick="showReviewListBtn()">목록</button>
      </div>
    </div>


    <div class="reply-total-wrap">
    <!-- 댓글 작성란 -->
    <div class="reply-wrap">
      <div th:if="${session.userNumber!=null}">
        <h3>댓글 작성</h3>
        <div class="reply-wrap__box">
          <div class="reply-content__box">
            <div class="reply-writer" th:text="${session.userId}">홍길동</div>
            <textarea name="replyContent" id="reply-content" cols="30" rows="2" ></textarea>
          </div>
          <div class="word-count">
          </div>
          <div class="reply-btn-wrap">
            <button type="button" class="btn-reply"  >작성 완료</button>
          </div>
        </div>
      </div>


      <!-- 페이징처리 -->
      <div class="reply-pagenation-container">
        <ul>

        </ul>
      </div>

      <!-- 리뷰 댓글 + 댓글 수정삭제 버튼 -->
      <div class="totalReply"></div>
      <div class="review-reply">


      </div>


    </div>

  </div>
  </div>
  <input type="hidden" th:value="${reviewDetail.sitterBoardNumber}" class="reviewDetail-num">

</main>
<div class="footer" th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:inline="javascript">
  let loginNumber = [[${session.userNumber}]];
</script>
<script src="/board/js/boardServiceReviewDetail.js"></script>
<script type="module" src="/board/js/serviceReviewReply.js"></script>
<script src="/fragments/js/header.js"></script>


</body>
</html>