
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
    

.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

    width: 100%;    
    height: 100%;
    min-height: 100vm;
}

.joinContainer {
    width: 1024px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.joinArea {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    border: 0px solid black;
}

.joinGreeting {
    padding-top: 50px;
    font-size: 25px;
    color: #FF7000;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}

.joinGreeting h6 {
    height: 10px;
}


.inputText input{
    width : 200px;
    height: 20px;
    margin: 10px 0px 10px 50px;
}

.buttonJoin button{
    margin: 10px 0px 10px 50px;
    width : 225px;
    height: 40px;
    margin-top: 30px;  
    cursor: pointer;
    color: white;
    background-color: #FF7000;
    border: 0px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.inputGroup{
    width: 350px;
    height: 100px;   
    display: table;
    border-collapse: collapse;  
}

.idFindList {
    width: 500px;
    margin-bottom: 20px;
    /* border: 1px solid lightgray; */
}

.userInfo {
    width: 350px;
    border-radius: 5px;
    border: 1px solid #FF7000;
    text-indent: 25px;
    padding: 10px 12px;
    font-size: 14px;
}

.userInfoText {
    position: relative;
    width: 450px;
  }

.userInfoText img {
    position : absolute;
    width: 20px; 
    top: 20px;
    left: 60px;
    margin: 0;
 
}

.infoLabel {
    display: none;
    color: red;
}

.idFindOk {
    text-align: center;
    display: none;
    width: 400px;

}

.idFindOk span{
    color: blue;
    font-size: 25px;
}

.verifiedCh {
    margin: 10px 0px 10px 10px;
    width : 70px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #FF7000;
    border: 0px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;

}

.id_already{
    color:red;
    display: none;
    font-size: 12px;
}
.id_already, .idOk {
    margin-left: 55px;
}

.idOk, .PwChOk{
    color:greenyellow;
    display: none;
    font-size: 13px;
}



