



.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    min-height: 900px;
}



.loginContainer {
    width: 1024px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}



.loginGreeting {
    padding-top: 180px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    text-align: center;
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-set {

    display: flex;
    justify-content: center;
}

.logo-set ul {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-img img {
    width: 100%;
    height: 100%;
}

.conpanyName {
    font-family: 'KIMM_Bold';
    font-size: 22px;
    letter-spacing: -2px;


}




.contentSummary {
    display: flex;
    justify-content: center;
    width: 1024px;
    margin: 0 auto;
}

.contentSummary h6{
    font-family: 'GmarketSansMedium';
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 30px;
}

.loginArea {
    width: 350px;
    margin: 0 auto;
    border-radius: 5px;
}


.findId-result{

}

.id-section, .register-section {
    color: darkgray;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    text-indent: 25px;
    border-radius: 5px;
    border: 1px solid #75716e7a;
    margin-bottom: 15px;


}
.id-section span, .register-section span {
    color: black;
    padding-left: 30px;}

.idFindOk {
    font-family: 'GmarketSansMedium';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    font-size: 15px;
    height: 120px;
}

.userInfoObt {
    width: 1024px;
    margin: 0 auto;
}

.userInfoObt ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfoObt ul a {
    font-family: 'KIMM_Bold';
    font-weight: bold;
    color : black;
    font-size: 13px;
}




