
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
    

.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

    width: 100%;    
    height: 100%;
    min-height: 100vm;
}

.joinContainer {
    height: 850px;
}

.joinGreeting {
    padding-top: 50px;
    font-size: 25px;
    color: #FF7000;
    margin-bottom: 50px;
    text-align: center;
}

.inputGroup{
    display: table;
}

.userInfoText {
    position: relative;
  }

.userInfoText img:not(.detailImg)  {
    position : absolute;
    width: 20px; 
    top: 15px;
    left: 12px;
    margin: 0; 
}

.userInfo {
    margin-bottom: 10px;
    width: 330px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FF7000;
    /* border: 1px solid #bbb; */
    text-indent: 25px;
    padding: 10px 12px;
    font-size: 14px;
}

.infoLabel, .labelPwNo {
    display: none;
    color: red;
    font-size: 13px;

}

.idOk, .PwChOk{
    color:greenyellow;
    display: none;
    font-size: 13px;
}

.postalCode, .userId {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FF7000;
    text-indent: 25px;
    padding: 10px 12px;
    font-size: 14px;
}

.addrBtn, .userCheckBtn {
    margin-left: 20px;
    width: 100px;
    height: 50px;
    border: 2px solid orange;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FF7000;
}

.referAddr {
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FF7000;
    /* border: 1px solid #bbb; */
    text-indent: 25px;
    padding: 10px 12px;
    font-size: 14px;    
}

.detailAddr {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 190px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FF7000;
    /* border: 1px solid #bbb; */
    text-indent: 25px;
    padding: 10px 12px;
    font-size: 14px;
}

.detailImg {
    position : absolute;
    width: 20px; 
    top: 15px;
    left: 150px;
    margin: 0; 
}

.buttonJoin button{
    width : 355px;
    height: 40px;
    margin-top: 30px;  
    cursor: pointer;
    color: white;
    background-color: #FF7000;
    border: 0px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}

.id_already{
    color:red;
    display: none;
    font-size: 12px;
}





.detailAddrs {
    display: flex;
}











































