
/*.ul {*/
/*    position: absolute;*/
/*    margin-left: -10px;*/
/*    justify-content: center;*/

/*}*/

.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    min-width: 1024px;
    min-height: 900px;

}

.loginContainer {
    width: 1024px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.loginArea {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    border: 0px solid black;
}

.loginGreeting {
    padding-top: 180px;
    font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-set {

    display: flex;
    justify-content: center;
}

.logo-set ul {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 70px;
}

.logo-img img {
    width: 100%;
    height: 100%;
}

.conpanyName {
    font-family: 'KIMM_Bold';
    font-size: 22px;
    letter-spacing: -2px;



}

.welcome-logo {
    padding-left: 13px;
    font-family: 'KIMM_Bold';
    font-size: 14px;
    color: rgba(128, 128, 128, 0.93);

}

.inputGroup{
    width: 350px;
    height: 100px;
    display: table;
    border-collapse: collapse;
}

.inputText input{
    box-sizing: border-box;
    width: 350px;
    height: 40px;
    margin-bottom: 25px;
}

.buttonLogin button{
    font-family: 'KIMM_Bold';
    width: 350px;
    height: 31px;
    margin-top: 23px;
    cursor: pointer;
    color: white;
    background-color: #FF7000;
    border: 0px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.userInfo {
    width: 350px;
    border-radius: 4px;
    border: 1px solid #75716e7a;
    text-indent: 25px;
    padding: 10px 12px;
    font-size: 14px;
}

.userInfoText {
    position: relative;
    width: 350px;
  }

.userInfoText img {
    position : absolute;
    width: 20px;
    /* width: 50px; */
    top: 9px;
    left: 12px;
    margin: 0;
}
.userInfoObt {
    display: flex;
    justify-content: center;
}
.userInfoObt a {
    font-size: 12px;
    color: black;
}
.userInfoObt a:hover {
    color: orange;
}

.userInfoObt li {
    margin: 15px auto;
    list-style-type: none;
    float: left;
    font-family: 'KIMM_Bold';
    font-size: 13px;
}


.labelId, .labelPw {
    display: none;
    color: red;
    position: absolute;
    top: 45px;
    font-size: 13px;
    font-family: 'KIMM_Bold';
}

.idCheck {
    position: absolute;
    color: red;
    font-size: 13px;
    font-family: 'KIMM_Bold';

}








