<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/sitter/css/sitterFind.css"/>


    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
    <title>시터 찾기</title>
</head>

<body>

<div>
    <!-- 헤더 -->
    <header th:replace="fragments/header.html :: header"></header>
    <!-- 헤더 -->

    <!-- <div class="modal">
        <div class="modalHeader">
            <div class=" modalX">X</div>
        </div>
        <div class="modalContent">

        </div>
    </div> -->

    <div class="container">
        <!-- 지역 및 등록된 시터 수 -->
        <div class="mainHeader">
            <div class="sitterFindGreeting">
                <label>&nbsp;대기중인 시터 리스트</label>
            </div>
            <div class="sitterFindCount" ><strong th:text="${sitterTotal}"></strong><span> 명의 시터</span></div>
        </div>
        <!-- 지역 및 등록된 시터 수 -->

        <!-- 시터 정보 필터 -->


        <div id="wrap">
            <a href="javascript:void(0);" class="button modal-open">지역 검색하기▼</a>
<!--            <a href="javascript:openModal('modal2');" class="button modal-open">돌봄 선택▼</a>-->
        </div>

        <div id="modal"></div>


        <!-- 시터 정보 필터 -->
        <div class="sitterFilter">
            <!--        <div class="sitterFilter">-->

            <!-- 시터 정보 리스트 -->
            <div class="sitterInfoList">

                <div class="sitterIndividual" th:each="sitterList : ${sitterList}">
                        <a th:href="@{/sitter/sitterInfo(empNumber=${sitterList.empNumber})}" class="sitterInformation">
                        <div>
                            <div class="sitterInfoAndImg test">
                                <div class="sitterInfo">
                                    <input type="hidden" th:value="${sitterList.empNumber}" class="empNumber" name="empNumber">
                                        <div name="sitterName" class="sitterName">
                                            <strong th:text="${sitterList.empName}"></strong>&nbsp;&nbsp;
                                            <span th:text="'   ' + ${sitterList.empGender}"></span>
                                        </div>

                                    <div class="sitterGrade" th:if="${sitterList.avg == null}">
                                        <img src="/common/img/star.png">
                                        <span>0.0/ 5</span>
                                    </div>

                                    <div class="sitterGrade" th:unless="${sitterList.avg == null}">
                                        <img src="/common/img/star.png">
                                        <span th:text="${sitterList.avg} + '/ 5'"></span>
                                    </div>


                                    <div>가능한 교육들</div>
                                </div>

                                <div class="sitterImg">
                                    <img  src="https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202207%2F20220727155425320.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="sitterContext">
                            <span th:text="${sitterList.empContent}"></span>
                        </div>

                    </a>
                </div>


            </div>

        </div>
        <!-- 시터 정보 리스트 -->


<!-- 페이징 처리 -->
       <div class="page-container">
         <ul class="paging">
<!--           <a th:href="@{/sitter/sitterFind(page=${pageInfo.startPage-1})}" class="page" th:if="${pageInfo.prev}">-->
<!--             <li class="pageNum prev">&lt</li>-->
<!--           </a>-->

<!--           <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">-->
<!--             <a th:href="@{/sitter/sitterFind(page=${i})}" class="page">-->
<!--               <li class="pageNum" th:text="${i}" th:if="${i != pageInfo.criteria.page}"></li>-->
<!--               <li class="pageNum active" th:text="${i}" th:unless="${i != pageInfo.criteria.page}"></li>-->
<!--             </a>-->
<!--           </th:block>-->

<!--           <a th:href="@{/sitter/sitterFind(page=${pageInfo.endPage+1})}" class="page" th:if="${pageInfo.next}">-->
<!--             <li class="pageNum next">&gt</li>-->
<!--           </a>-->
         </ul>
       </div>
       <!-- /페이징 처리 -->


    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>


    <!--        모달-->
    <form action="/sitter/addrCheck" method="post" class="sitterAddr"></form>
    <div class="modal-con modal1">
        <div class="sitterInfoType">
            <div class="areaSel">
                <label>돌봄지역 선택</label>
                <a href="javascript:;" class="close addrModal">X</a>
            </div>
            <div class="areaSelList">
                <select name="sido1" id="sido1" class="addrSelList"></select>
                <select name="gugun1" id="gugun1" class="addrSelList"></select>
            </div>
            <div class="sitterSel">
                <button class="sitterTerBtn" type="button">활동 선택</button>
            </div>
        </div>
    </div>

    <div class="modal-con modal2">
        <a href="javascript:;" class="close">X</a>
        <p class="title">돌봄일정</p>
        <div class="con">
            <div class="sitterDay">
                <div><h2>돌봄 요일</h2></div>
                <div class="mons">
                    <div class="mon">월<input type="hidden" value="월"></div>
                    <div class="mon">화</div>
                    <div class="mon">수</div>
                    <div class="mon">목</div>
                    <div class="mon">금</div>
                    <div class="mon">토</div>
                    <div class="mon">일</div>
                </div>
            </div>

            <div class="sitterTimes">
                <div><h2>돌봄 시간</h2></div>
                <div class="times">
                    <div class="sitterTime">오전(07~12)</div>
                    <div class="sitterTime">오후(12~18)</div>
                    <div class="sitterTime">저녁(18~22)</div>
                </div>
            </div>

            <div class="sitterSel">
                <button class="sitterTerBtn">일정 선택</button>
            </div>
        </div>
    </div>

    <div id="modal"></div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<script type="module" th:src="@{/sitter/js/sitterFind.js}"></script>

<script src="/fragments/js/header.js"></script>

</body>

</html>