<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/common/css/header.css" />
    <link rel="stylesheet" href="/common/css/footer.css" />
    <link rel="stylesheet" href="/common/css/common.css" />
    <script src="/common/js/index.js" defer></script>
    <script src="/common/js/common.js" defer></script>

    <link rel="stylesheet" href="../css/sitterInfo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
    <title>BOMOBOMO</title>
</head>

<body>

    <div class="header">
    </div>
    <div>

        <div class="container">

            <div class="sitterImg">
                <!-- 시터 상세 -->
                <div class="sitterInfoList">
                    <div>
                        <img
                            src="https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202207%2F20220727155425320.jpg">
                    </div>
                    <div class="sitterInfo">
                        <div class="sitterCon">
                            <div>
                                <strong>김복순</strong>
                                <span>54세 여</span>
                            </div><br>
                            <div>후기 ✯4.4/5</div><br>
                            <div>내용</div><br>
                        </div>
                        <div>
                            <div class="sitterAbility">
                                <div class="possibleImg">
                                    <img src="../img/k_study.png">
                                    <div class="possibleName">실외교육</div>
                                </div>

                                <div class="possibleImg">
                                    <img src="../img/filter.png">
                                    <div class="possibleName">영어교육</div>
                                </div>

                                <div class="possibleImg">
                                    <img src="../img/filter.png">
                                    <div class="possibleName">국어교육</div>
                                </div>

                                <div class="possibleImg">
                                    <img src="../img/filter.png">
                                    <div class="possibleName">IT교육</div>
                                </div>

                                <div class="possibleImg">
                                    <img src="../img/filter.png">
                                    <div class="possibleName">코딩교육</div>
                                </div>

                                <div class="possibleImg">
                                    <img src="../img/filter.png">
                                    <div class="possibleName">인성교육</div>
                                </div>

                                <div class="possibleImg">
                                    <img src="../img/filter.png">
                                    <div class="possibleName">예체능</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <!-- 시터 상세 -->
            <div class="sitterInfoType">
                <div class="possible"><strong>자기소개</strong></div>
                <div class="selfIntroduction">
                    자기소개막씁니다. 자기소개막씁니다. 자기소개막씁니다.<br>
                    자기소개막씁니다. 자기소개막씁니다. 자기소개막씁니다.<br>
                    자기소개막씁니다. 자기소개막씁니다. 자기소개막씁니다.<br>
                    자기소개막씁니다. 자기소개막씁니다. 자기소개막씁니다.<br>
                    자기소개막씁니다. 자기소개막씁니다. 자기소개막씁니다.<br>
                </div>


            </div>

            <div style="text-align: center; margin: 30px auto;">

                <div class="possible"><strong>시터 후기</strong></div>

                <div id="slideShow">

                    <ul class="slides">
                        <a href="#">
                            <li style=""><img src="../img/sImg.png" alt="">
                                <div class="ReviewInfo">엄멈멈머</div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/email.png" alt="">
                                <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/userId.png" alt="">
                                <div class="ReviewInfo">아이들이 즐거워해요. 배운 것들도 </div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/userPw.png" alt="">
                                <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                            </li>
                        </a>
                        <a href="#">
                            <li style=""><img src="../img/sImg.png" alt="">
                                <div class="ReviewInfo">엄멈멈머</div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/email.png" alt="">
                                <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/userId.png" alt="">
                                <div class="ReviewInfo">아이들이 즐거워해요. 배운 것들도 </div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/userPw.png" alt="">
                                <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/email.png" alt="">
                                <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                            </li>
                        </a>
                        <a href="#">
                            <li><img src="../../user/img/userId.png" alt="">
                                <div class="ReviewInfo">아이들이 즐거워해요. 배운 것들도 </div>
                            </li>
                        </a>


                    </ul>


                    <p class="controller">

                        <!-- &lang: 왼쪽 방향 화살표
                  &rang: 오른쪽 방향 화살표 -->
                        <span class="prev">&lang;</span>
                        <span class="next">&rang;</span>
                    </p>
                </div>
            </div>

            <div>
                <!-- onclick="location='sitterS.html'" -->
                <div class="sitterSel"><button class="sitterSelBtn" onclick="location='sitterS.html'">신청하기</button>
                </div>
                <div><button class="sitterF" onclick="location='sitterFind.html'">시터찾기</button></div>
            </div>

        </div>
        <div class="modal">
            <div class="modalHeader">
                <div class=" modalX">X</div>
            </div>
            <div class="modalContent">
                내요용요요요
            </div>
        </div>




        <!-- 푸터 -->
        <hr>
        <div class="footer">
            푸터임미당



        </div>
        <!-- 푸터 -->
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="../js/sitterInfo.js"></script>

</body>

</html>