<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>

    <link rel="stylesheet" href="/sitter/css/sitterInfo.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
    <title>시터 상세정보</title>
</head>

<body>

<header th:replace="fragments/header.html :: header"></header>

<form action="/sitter/sitterRegister" method="post" class="sitterForm">
    <div class="container">

        <div class="sitterImg">
            <!-- 시터 상세 -->
            <div class="sitterInfoList">
                <th:block th:if="${empImg == null}">
                <div>
                    <img src="/sitter/img/slmg.png">
                </div>
                </th:block >

                <th:block th:unless="${empImg == null}">
                <div>
                    <img th:src="'/admin/rest/displayEmpImg?fileName=' + ${empImg}">
                </div>
                </th:block>

                <div class="sitterInfo">
                    <div class="sitterCon">
                        <div>
                            <strong th:text="${emp.empName}"></strong>
                            <span th:text="${emp.empAge} + '세  ' + ${emp.empGender}"></span>
                        </div>
                        <br>

                        <div class="sitterGrade" th:if="${sitterTotalReview == null || sitterTotalReview < 0.5}">
                            <div class='sitterGrade'>☆☆☆☆☆</div>
                            <!--                                        <img src="/common/img/star.png">-->
                            <!--                                        <span class="sitterTotalReview">0/ 5</span>-->
                        </div>
                        <div class="sitterGrade" th:if="${sitterTotalReview >= 0.5 && sitterTotalReview < 1.5}">
                            <div class='sitterGrade'>★☆☆☆☆</div>
                        </div>
                        <div class="sitterGrade" th:if="${sitterTotalReview >= 1.5 && sitterTotalReview < 2.5}">
                            <div class='sitterGrade'>★★☆☆☆</div>
                        </div>
                        <div class="sitterGrade" th:if="${sitterTotalReview >= 2.5 && sitterTotalReview < 3.5}">
                            <div class='sitterGrade'>★★★☆☆</div>
                        </div>
                        <div class="sitterGrade" th:if="${sitterTotalReview >= 3.5 && sitterTotalReview < 4.5}">
                            <div class='sitterGrade'>★★★★☆</div>
                        </div>
                        <div class="sitterGrade" th:if="${sitterTotalReview >= 4.5 && sitterTotalReview < 5}">
                            <div class='sitterGrade'>★★★★★</div>
                        </div>


                        <div th:text="'시터 시작일 : ' + ${emp.empDate}"></div>
                        <br>
                    </div>
                    <div>

                        <div class="sitterAbility">
                            <div class="possibleImg" th:each="actVoList : ${actVoList}"
                                 th:if="${actVoList.actName} == null ">
                                <img src="">
                                <div class="possibleName"></div>
                            </div>

                            <div class="possibleImg" th:each="actVoList : ${actVoList}"
                                 th:unless="${actVoList.actName} == null ">
                                <!--                                <img src="/sitter/img/filter.png">-->
                                <img class="sitterPossibleImg"
                                     th:src="'/admin/rest/displayActImg?fileName=' + ${actVoList.actImgUploadPath} + '/' + ${actVoList.actImgUuid} + '_' + ${actVoList.actImgName}">
                                <div class="possibleName" th:text="${actVoList.actName}"></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" th:value="${emp.empName}" id="empName" name="empName">
        <input type="hidden" th:value="${emp.empNumber}" id="empNumber" name="empNumber">

        <hr>
        <!-- 시터 상세 -->
        <div class="sitterInfoType">
            <div class="possible"><strong>자기소개</strong></div>
            <div class="selfIntroduction">
                <div class="sitterContent" th:text="${emp.empContent}"></div>
            </div>
        </div>


        <div class="sitterHugi">
            <hr>
            <br>
            <div class="possible"><strong>시터 후기</strong></div>
            <div id="slideShow">
                <ul class="slides">
                    <a th:href="@{/board/reviewDetail(sitterBoardNumber=${sitterBoardList.sitterBoardNumber})}"
                       th:each="sitterBoardList : ${sitterBoardList}">
                        <li style="">
                            <img src="/sitter/img/sImg.png" alt="">
                            <div class="ReviewInfo" th:text="${sitterBoardList.sitterBoardContent}"></div>
                        </li>
                    </a>
                </ul>
                <p class="controller">
                    <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                    <span class="prev">&lang;</span>
                    <span class="next">&rang;</span>
                </p>
            </div>
        </div>

        <div class="theBtn">
            <th:block th:unless="${userNumber == null}">
                <div class="sitterSel" th:if="${cnt == 0}">
                    <button class="sitterSelBtn" type="button">신청하기</button>
                </div>
                <div class="sitterSel" th:unless="${cnt == 0} ">
                    <div><h3>현재 신청한 시터가 존재합니다. </h3><span><a href="/mypage/main">마이페이지</a>를 확인하세요.</span></div>
                </div>
            </th:block>
            <th:block th:if="${userNumber == null}">
                <div class="sitterSel">
                    <button class="sitterSelBtn" type="button">신청하기</button>
                </div>
            </th:block>
            <div>
                <button class="sitterF" type="button" onclick="location='/sitter/sitterFind'">시터목록</button>
            </div>
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/sitter/js/sitterInfo.js"></script>
<!--<script th:src="@{/sitter/js/sitterInfo.js}"></script>-->
<script src="/fragments/js/header.js"></script>
<script src="/common/js/index.js" defer></script>
<!--<script src="/common/js/common.js" defer></script>-->
<!-- 푸터 -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- 푸터 -->

</body>

</html>