<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>

    <link rel="stylesheet" href="/sitter/css/sitterInfo.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
    <title>BOMOBOMO</title>
</head>

<body>

<header th:replace="fragments/header.html :: header"></header>


    <div class="container">

        <div class="sitterImg">
            <!-- 시터 상세 -->
            <div class="sitterInfoList">
                <div>
                    <img
                            src="https://search.pstatic.net/common?type=b&amp;size=216&amp;expire=1&amp;refresh=true&amp;quality=100&amp;direct=true&amp;src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202207%2F20220727155425320.jpg">
                </div>
                <div class="sitterInfo">
                    <div class="sitterCon">
                        <div>
                            <strong th:text="${emp.empName}"></strong>
                            <span th:text="${emp.empAge} + '세  ' + ${emp.empGender}">54세 여</span>
                        </div>
                        <br>
                        <div>평점 ✯4.4/5</div>
                        <br>
                        <div>내여ㅛㅇ</div>
                        <br>
                    </div>
                    <div>
                        <div class="sitterAbility">
                            <div class="possibleImg">
                                <img src="/sitter/img/k_study.png">
                                <div class="possibleName">실외교육</div>
                            </div>

                            <div class="possibleImg">
                                <img src="/sitter/img/filter.png">
                                <div class="possibleName">영어교육</div>
                            </div>

                            <div class="possibleImg">
                                <img src="/sitter/img/filter.png">
                                <div class="possibleName">국어교육</div>
                            </div>

                            <div class="possibleImg">
                                <img src="/sitter/img/filter.png">
                                <div class="possibleName">IT교육</div>
                            </div>

                            <div class="possibleImg">
                                <img src="/sitter/img/filter.png">
                                <div class="possibleName">코딩교육</div>
                            </div>

                            <div class="possibleImg">
                                <img src="/sitter/img/filter.png">
                                <div class="possibleName">인성교육</div>
                            </div>

                            <div class="possibleImg">
                                <img src="/sitter/img/filter.png">
                                <div class="possibleName">예체능</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!-- 시터 상세 -->
        <div class="sitterInfoType">
            <div class="possible"><strong>자기소개</strong></div>
            <div class="selfIntroduction">
                <div class="sitterContent" th:text="${emp.empContent}">

                </div>
                <!--                    <textarea  readonly>1234567890</textarea>-->
            </div>


        </div>

        <div style="text-align: center; margin: 30px auto;">

            <div class="possible"><strong>시터 후기</strong></div>

            <div id="slideShow">

                <ul class="slides">
                    <a href="#">
                        <li style=""><img src="/sitter/img/sImg.png" alt="">
                            <div class="ReviewInfo">엄멈멈머</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/email.png" alt="">
                            <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/userId.png" alt="">
                            <div class="ReviewInfo">아이들이 즐거워해요. 배운 것들도</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/userPw.png" alt="">
                            <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                        </li>
                    </a>
                    <a href="#">
                        <li style=""><img src="/sitter/img/sImg.png" alt="">
                            <div class="ReviewInfo">엄멈멈머</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/email.png" alt="">
                            <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/userId.png" alt="">
                            <div class="ReviewInfo">아이들이 즐거워해요. 배운 것들도</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/userPw.png" alt="">
                            <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/email.png" alt="">
                            <div class="ReviewInfo">가나다라마바사아자차가나다라마바사아자차abcdefghijk자차자차</div>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="/user/img/userId.png" alt="">
                            <div class="ReviewInfo">아이들이 즐거워해요. 배운 것들도</div>
                        </li>
                    </a>


                </ul>


                <p class="controller">

                    <!-- &lang: 왼쪽 방향 화살표
              &rang: 오른쪽 방향 화살표 -->
                    <span class="prev">&lang;</span>
                    <span class="next">&rang;</span>
                </p>
            </div>
        </div>
        <div class="theBtn">
            <!-- onclick="location='sitterS.html'" -->
            <div class="sitterSel">
<!--                <button class="sitterSelBtn" onclick="location='/sitter/sitterS'">신청하기</button>-->
                <button class="sitterSelBtn">신청하기</button>
            </div>
            <div>
                <button class="sitterF" onclick="location='/sitter/sitterFind'">시터찾기</button>
            </div>
        </div>

    </div>

<!--    <div class="modal">-->
<!--        <div class="modalHeader">-->
<!--            <div class=" modalX">X</div>-->
<!--        </div>-->
<!--        <div class="modalContent">-->
<!--            내요용요요요-->
<!--        </div>-->
<!--    </div>-->


    <!-- 푸터 -->
    <footer th:replace="fragments/footer.html :: footer"></footer>
    <!-- 푸터 -->




<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/sitter/js/sitterInfo.js"></script>
<!--<script th:src="@{/sitter/js/sitterInfo.js}"></script>-->
<script src="/fragments/js/header.js"></script>
<script src="/common/js/index.js" defer></script>
<script src="/common/js/common.js" defer></script>

</body>

</html>