<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user/css/login.css"/>


    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>
    <!--    <script src="/common/js/index.js" defer></script>-->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <title>로그인</title>
</head>

<body>

<div>
    <header th:replace="fragments/header.html :: header"></header>

    <div class="main" style="height: 800px;">
        <main>
            <div class="loginContainer">
                <div class="loginArea">
                    <!-- 로그인 라벨 -->
                    <div class="loginGreeting">
                        <h3 class="conpanyName"><label class="test">BOMOBOMO</label></h3>
                    </div>
                    <!-- 로그인 라벨 -->

                    <!-- 유저 로그인 -->
                    <div>
                        <form action="/user/login" method="post">
                            <div class="inputGroup">
                                <div class="inputText">
                                    <div class="userInfoText">
                                        <img src="/user/img/userId.png">
                                        <input class="userInfo" type="text" id="userId" name="userId" placeholder="아이디">
                                        <label class="labelId">아이디를 입력해주세요.</label>
                                    </div>
                                    <div class="userInfoText">
                                        <img src="/user/img/userPw.png">
                                        <input class="userInfo" type="password" id="userPassword" name="userPassword" placeholder="비밀번호">
                                        <label class="labelPw">패스워드를 입력해주세요.</label>
                                    </div>
                                </div>
<!--                                -->
<!--                                <span th:if="${isLogin == '0'}" th:text="아이디 또는 비밀번호를 다시 확인해주세요. "></span>-->
                                <span class="idCheck" th:if="${isLogin == '0'}">아이디 또는 비밀번호를 다시 확인해주세요.</span>

                            </div>
                            <div class="buttonLogin">
                                <button class="loginBtn">로그인</button>
                            </div>
                        </form>
                    </div>
                    <!-- 유저 로그인 -->

                    <!-- 유저 정보 찾기 및 회원가입 -->
                    <div class="userInfoObt">
                        <ul>
                            <li><a href="/user/pwFind">비밀번호 찾기</a>&nbsp;&#124;&nbsp;</li>
                            <li><a href="/user/idFind">아이디 찾기</a>&nbsp;&#124;&nbsp;</li>
                            <li><a href="/user/join">회원가입</a>&nbsp;&nbsp;</li>
                        </ul>
                    </div>
                    <!-- 유저 정보 찾기 및 회원가입 -->

                </div>

            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/user/js/login.js}"></script>
<script src="/fragments/js/header.js"></script>
</body>

</html>