<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fragments/css/header.css"/>
    <link rel="stylesheet" href="/fragments/css/footer.css"/>
    <link rel="stylesheet" href="/common/css/common.css"/>

    <link rel="stylesheet" href="/user/css/pwFind.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <!-- <link rel="shortcut icon" type="image/x-icon" href="/common/img/logoPic.png" alt="타이틀 로고" /> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!--    <script src="/common/js/common.js" defer></script>-->

    <title>BOMOBOMO</title>
</head>

<body>

<!-- 헤더부분 -->
<header th:replace="fragments/header.html :: header"></header>


<div class="main">
    <main>
        <div class="joinContainer">
            <div class="joinArea">
                <!-- 회원가입 라벨 -->
                <div class="joinGreeting">
                    <h3>비밀번호 찾기</h3>
                    <h6>하단에 알맞은 개인 정보를 입력하세요.!</h6>
                </div>
                <!-- 회원가입 라벨 -->


                <!-- 회원 정보 등록 -->
                <form action="/mail/pwFindOk" method="post" class="form">


                    <div class="idFindList">
                        <div class="inputGroup">
                            <div class="inputText">
                                <div class="userInfoText">
                                    <img src="/user/img/userId.png">
                                    <input class="userInfo" type="text" id="userId" name="userId" placeholder="아이디" oninput="checkId()">
                                    <label class="labelId infoLabel">로그인 X</label>
                                    <label>
                                        <span class="idOk">등록된 아이디입니다.</span>
                                    </label>
                                    <label>
                                        <span class="id_already">등록되지 않은 아이디입니다.</span>
                                    </label>
                                </div>

                                <div class="userInfoText">
                                    <img src="/user/img/userId.png">
                                    <input class="userInfo" type="text" id="userName" name="userName" placeholder="이름"
                                           oninput="checkName()">
                                    <label class="labelName infoLabel">이름을 입력하세요.</label>
                                    <label>
                                        <span class="nameOk">이름이 확인되었습니다.</span>
                                    </label>
                                    <label>
                                        <span class="nameAlready">등록되지 않은 이름입니다. 다시 확인해주세요.</span>
                                    </label>
                                </div>

                                <div class="userInfoText">
                                    <img src="/user/img/email.png">
                                    <input class="userInfo" type="email" id="userEmail" name="userEmail"
                                           placeholder="이메일">
                                    <label class="labelEm infoLabel">표준 이메일이 아닙니다.</label>
                                    <label class="infoLabel emailOk">입력하신 이름으로 등록된 이메일이 아닙니다.</label>
                                    <span class="verifiedCh">
                                        <a class="" id="verifiedCode" type="button" onclick="verifiedCode()">인증번호 받기</a>
                                    </span>
<!--                                    <button class="verifiedCh" id="verifiedCode" type="button" onclick="verifiedCode()">인증번호 받기</button>-->
                                </div>

                                <div class="userInfoText">
                                    <img src="/user/img/verified.png">
                                    <input class="userInfo" type="text" id="verified" name="verified"
                                           placeholder="인증번호 등록"
                                           maxlength="6" readonly>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="buttonJoin">
                        <button class="idCheckBtn" type="button" onclick="confirmNumber()">확인하기</button>
                    </div>
                </form>

            </div>

        </div>
    </main>
</div>
<input type="text" id="Confirm" name="Confirm" style="display: none" value="">


<!-- 푸터부분 -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- 푸터부분 -->


<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/user/js/pwFind.js"></script>
<script>

</script>
</body>

</html>