@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Gamja+Flower&family=IBM+Plex+Sans+KR&family=Single+Day&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


main{

    margin-top: 45px;

}


.buy-container{
    width: 1024px;
    height: 100%;
    /* border: 1px solid black;   */
    margin: 30px auto;

}
.section{
    margin: 0 auto;
    /* border: 1px solid blue; */
    height: 100%;
    /* width: 1024px; */
    display: flex;
    /* background-color: #e6e6e6; */
}


.page-view{

    margin-left: 20px;
    width: 800px;
}
.page-title{
    height: 80px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
}
.page-title>p{
    margin-left: 20px;
    height: 80px;
    line-height: 100px;
    font-size: 25px;
    font-family: 'S-CoreDream-3Light';
    color: #FF7000;
}

.page-title>p>a{
    text-decoration: none;
    color: #FF7000;
}

.review-page-area{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 15PX;
    height: 40px;
    line-height: 40px;
}
.sitter-area{
    border-radius: 5px;
    width: 400px;
    border: 1px solid #bbb;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.event-area{
    margin-left: 5px;
    border-radius: 5px;
    width: 400px;
    border: 1px solid #bbb;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}





/*이벤트 ㄹ뷰 작성 공간*/
.buyboxp{
    /* display: block; */
}


.buy-area-2{
    border-bottom: 1px solid #bbb;

}

.buy-text-2{

    width: 810px;
    height: 130px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
.buy-text-2 div{
    margin-top: 12px;
}

.img-area-2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* background-color: #bbb; */
    align-items: center;
}
.img-area-2 img{
    width: 90px;
    height: 90px;
}
.buy-text-area-2{
    /* border: 1px solid black; */
    width: 600px;

    height: 80px;
    font-size: 18px;

}
.buy-text-area-2 p{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 17px;
}

.price-2{
    /* border: 1px solid black; */
    /* line-height: 0px; */
    height: 100px;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

.text-page-2 p{
    /* border: 1px solid black; */
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    text-align: right;
}

.price-2 span{
    line-height: 120px;
    float: right;
}

.paging1{
    /* border: 1px solid black; */
    /*margin-top: 530px;*/

}
.page1{
    display: flex;
    margin: auto;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    justify-content: center;
    /* padding: 10px; */
}
.page1>a{
    border: 1px solid black;
    margin: 5px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    /* background-color: #e6e6e6; */
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.pageVObox{
    background-color: #FF7000;
    color: white;
}
.pages-nums:hover{
    background-color: #FF7000;
    color: white;
}

 .material-symbols-outlined {
     font-family: 'Material Symbols Outlined';
     font-weight: normal;
     font-style: normal;
     font-size: 50px;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
     -webkit-font-smoothing: antialiased;
 }
.none{
    margin-top: 25px;
}

.noneProduct{margin: 20px auto;

    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.next:hover{
    background-color: #ff7000;
    color: white;
    border: 1px solid #ff7000;
}
.prev:hover{
    background-color: #ff7000;
    color: white;
    border: 1px solid #ff7000;
}