@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Gamja+Flower&family=IBM+Plex+Sans+KR&family=Single+Day&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

main{
    margin-top: 45px;
}


.mypage-container{
    width: 1024px;
    height: 100%;
    margin: 30px auto;

}
.section{
    margin: 0 auto;
    height: 100%;
    display: flex;
}


.page-view{

    margin-left: 20px;
}
.page-title{
    height: 80px;
    border-bottom: 1px solid #bbb;
}
.page-title>p{
    margin-left: 20px;
    height: 80px;
    line-height: 100px;
    font-size: 25px;
    font-family: 'S-CoreDream-3Light';

    color: #FF7000;
}





.siterinfo-area{
    height: 250px;
    position: relative;
}
.siterinfo-area-container{
    width: 800px;
    margin: 30px auto;
    height: 250px;

}

.noneEmpArea{
    margin-top: 10px;
    width: 800px;
    text-align: center;
}
.noneEmpArea>img{
    width: 300px;
    height: 250px;
}
/*나의 매칭 css*/
.empArea{
    margin-top: 10px;
    border: 1px solid #bbb;
    display: flex;
    width: 800px;
    height: 90px;
    align-items: center;
    border-radius: 5px;
}
.siterarea{
    display: flex;
}

.siterarea>li{

    height: 60px;

}

.siterimg{
    width: 80px;
    margin-left: 8px;
    border-right: 1px solid #bbb;

}
.siterimg-line{

}
.siterimg-img{
    width: 70px;
}

.siterimg-img>img{
    width: 100%;
    height: 100%;

    box-shadow: 0px 0px 2px 2px rgba(163,174,184,0.7);
    border-radius: 5px;
}

.siter-info{
    width: 80px;
    border-right: 1px solid #bbb;

    text-align: center;
}
.siter-info>span{
    display: inline-block;
    width: 70px;
    margin-top: 20px;
    font-size: 15px;

}
.siter-infos{
    width: 100px;
    text-align: center;
    border-right: 1px solid #bbb;

}
.avg{
    color: #e89f14d9;
}

.review-H3{
    font-size: 16px;
}
.existH3{
    font-size: 16px;
}
.h3{
    font-size: 16px;
}
.siter-infos>span{
    display: inline-block;
    width: 100px;
    margin-top: 20px;
    font-size: 15px;

}
.siter-act{
    width: 230px;
    border-right: 1px solid #bbb;
}

.siter-act-detail>li{
    margin-left: 10px;
    width: 40px;
    text-align: center;
}
.siter-act-detail>li>img{
    width: 30px;
    background-color: #c0fff5;
    border-radius: 10px;
}
.siter-act-detail{
    display: flex;
    margin-top: 5px;
}
.empActName{
    font-size: 8px;
    font-weight: bold;
}
.siter-act>img{
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
}
.siter-situation{
    width: 140px;
    text-align: center;
    border: none;
}

.siter-situation>span{
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    border: 1px solid #FF7000;
    text-align: center;
    font-family: 'Dongle', sans-serif !important;
    color: #FF7000;
    background-color:white;
    cursor: pointer;
}

.review-area{
    height: 390px;
    width: 800px;
    margin-top: 40px;
}
.reviewtab-area{
    padding: 10px;
    display: flex;
    padding-bottom: 20px;
}
.reviewtab-area>span{
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    border: 1px solid #bbb;
    cursor: pointer;
    display: inline-block;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
/*시터 이용 후기 css*/
.review-list-area{
    height: 300px;
    width: 800px;
}

.table{
    width: 800px;
    border-collapse: collapse;
}

.top{
    border-bottom: 1px solid black;
}

.review-text>td{
    border-collapse: collapse;
    font-size: 13px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbb;
    padding: 5px;
}
.review-num{
    width: 100px;
    text-align: center;
}
.review-title{
    width: 500px;
    font-weight: bold;
    text-align: start;
}
.review-title>a{
    color: black;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 13px;
}
.review-data{
    width: 100px;
    text-align: center;
}

.paging{
    margin-top: 10px;

}
.page{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.page-num>a{
    border: 1px solid black;
    margin: 3px;
    width: 15px;
    border-radius: 5px;
    font-size: 12px;
    color: black;
    display: inline-block;
}
.page-num>a:hover{
    color: white;
    border: 1px solid #ff7000;
    background-color: #ff7000;
}


.active-num>a{
    color: white;
    background-color: #ff7000;
    border: 1px solid #ff7000;

}

.next>a:hover{
    background-color: #ff7000;
    color: white;
    border: 1px solid #ff7000;
}

.prev>a:hover{
    background-color: #ff7000;
    color: white;
    border: 1px solid #ff7000;
}


/*이벤트 이용 후기 css*/
.review-list-area1{
    height: 300px;
    width: 800px;
    display: none;

}

.table1{

    width: 800px;
    border-collapse: collapse;


}

.review-text1>td{

    border-collapse: collapse;
    font-size: 13px;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbb;
    padding: 5px;
}
.review-num1{
    width: 100px;
    border: none;
    text-align: center;
}
.review-title1{
    width: 500px;
    border: none;
    font-weight: bold;
    text-align: start;
}

.review-title1>a{
    color: black;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 13px;
}
.review-data1{
    width: 100px;
    border: none;
    text-align: center;
}

.paging1{
    /* border: 1px solid black; */
    margin-top: 10px;

}
.page1{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    text-decoration: none;

}

.page-num1>a{
    border: 1px solid black;
    margin: 3px;
    width: 15px;
    border-radius: 5px;
    font-size: 12px;
    color: black;
    display: inline-block;
}
.page-num1>a:hover{
    color: white;
    border: 1px solid #ff7000;
    background-color: #ff7000;
}


.active-num1>a{
    color: white;
    background-color: #ff7000;
    border: 1px solid #ff7000;

}

.next1>a:hover{
    background-color: #ff7000;
    color: white;
    border: 1px solid #ff7000;
}

.prev1>a:hover{
    background-color: #ff7000;
    color: white;
    border: 1px solid #ff7000;
}

/*결제창 css*/
.modal-pay{
    display: none;
    position: absolute;
    top: 0px;
    left: 10px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 1px 1px 3px 5px rgba(0,0,0,0.7);
}
.pay-heard{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
}
.pay-name{
    /* border-bottom: 1px solid black; */
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 15px;

    font-size: 20px;
    /* background-color: #FF7000; */
}
.page-remove{
    font-size: 20px;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
    height: 20px;
    line-height: 15px;
}
.page-remove:hover{
    color: red;
}



.payment-wrap{

    margin-top: 5px;
    /* border: 1px solid black; */
    display: flex;
    width: 700px;

}

.payment-wrap-left{
    margin-left: 10px;
    /* border: 1px solid black; */
    padding: 10px 10px;
}

.user-detail{
    text-decoration: none;
    /* border: 1px solid black; */
    list-style: none;

}


.user-info{
    /* border: 1px solid black; */
    height: 30px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    font-weight: bold;
}

.user{
    /* border: 1px solid black; */
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px;
    /* background-color: #e6e6e6; */
    margin-top: 8px;

}

.user p:first-child{
    /* border: 1px solid black; */
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.user-private-area{
    /* border: 1px solid black; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;


}
.user-private-area span{
    width: 120px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;

}

.user-name{
    border: 1px solid #666;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;



}

.user-phone{
    border: 1px solid #666;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;

}


.user-email{
    border-radius: 5px;
    border: 1px solid #666;
    font-size: 18px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;

}



.user-address p:first-child{
    font-size: 16px;
    font-weight: bold;
}



.address-info{
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
}

.address-detail{
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;

}

.payment-wrap-right{
    border-left: 1px solid black;
    padding: 10px 10px;
    margin-left: 10px;
    width: 500px;
}

.product-info{
    list-style: none;
}

.product-info li{
    margin-bottom: 8px;
}

.product-detail{

    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.product-detail p{
    margin-top: 5px;
}

.product-title{
    font-weight: bold;
}

.pay{
    text-align: right;
}
.pay span:first-child{
    font-weight: bold;
    font-size: 16px;
}

.total-payment{
    /* border: 1px solid black; */
    /* margin-top: 20px; */
    text-align: right;
    height: 40px;
}

.total-payment span{
    line-height: 50px;
    font-size: 18px;

}
.total-payment span:first-child{
    font-weight: bold;
}

.total-area{
    /* border: 1px solid black; */
    height: 40px;
    margin-top: 180px;
}

.check-area{

    /* border: 1px solid black; */
    text-align: right;
    margin-top: 15px;
}

.check-area button{
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: white;
    color: #FF7000;
    border: 1px solid #FF7000;
    border-radius: 10px;
}


