@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&family=Gamja+Flower&family=IBM+Plex+Sans+KR&family=Single+Day&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


main{
    /* border-top: 1px solid #bbb; */
    /* background-color: aquamarine; */
    margin-top: 45px;
    /* background-color: #f3eeee; */
}

.user-container{
    width: 1024px;
    height: 100%;
    /* border: 1px solid black;   */
    margin: 30px auto;

}
.section{
    margin: 0 auto;
    /* border: 1px solid blue; */
    height: 100%;
    /* width: 1024px; */
    display: flex;
    /* background-color: #e6e6e6; */
}
.menu-bar{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* border: 1px solid #bbb; */
    /* background-color: red; */
    height: 900px;
    width: 180px;
    margin-left: 10px;
    margin-bottom: 15px;
}
/* .menu-bar>div:first-child{
  width: 180px;
  height: 100px;
  margin: 0;
  border: none;
} */
/* .logo-img>img{
    height: 100px;
    width: 170px;
} */
.menu-bar>div{
    /* background-color: rgb(255, 255, 255); */
    /* background-color: black; */
    margin: 30px auto;
    /* border: 1px solid #bbb; */
    text-align: center;
    /* border-radius: 10%; */
    width: 150px;
    height: 40px;
    color: black;
}



.menu-bar>div>a:hover{
    color: white;
    background-color: #FF7000;
}

.menu-bar>div>a{
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: black;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 25px;
    width: 150px;
    /* border-radius: 10%; */
}

.page-view{
    /* border: 1px solid black; */
    width: 900px;
    /* background-color: blue; */
    /* margin-top: 5px; */
    margin-left: 20px;
}
.page-title{
    /* border: 1px solid black; */
    height: 80px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
}
.page-title>p{
    margin-left: 20px;
    height: 80px;
    /* border: 1px solid black; */
    line-height: 100px;
    font-size: 80px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
    color: #FF7000;
    /* padding: 100px; */
    /* margin-bottom: 10px; */
    /* border: 1px solid black; */
}

.page-title>p>a{
    text-decoration: none;
    color: #FF7000;
}
.updateText{
    margin-top: 40px;
    /* border: 1px solid black; */
    height: 550px;
    border-collapse: collapse ;
}

.checkPw{
    /* border: 1px solid black; */
    width: 300px;
    margin-top: 5px;
    margin-left: 210px;
    text-align: left;
    font-size: 12px;
    color: red;
    font-style: italic;
}
.userInfo-area{
    /* border: 1px solid black; */
    height: 50px;
    text-align: center;
    /* width: 80px; */
    margin-top: 20px;
    position: relative;
    /* border-collapse: collapse ; */
}
.userInfo{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}
.userInfo-area img{
    position : absolute;
    width: 20px;
    /* width: 50px; */
    top: 30px;
    left: 190px;
    margin: 0;

}

.addressnum{
    /* float: left; */
    margin-left: -170px;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.addressnumbtn{
    width: 70px;
    height: 40px;
    background-color: #FF7000;
    border: 1px solid #FF7000;
    color: white;
    cursor: pointer;
}
.addressInput{
    margin-top: 20px;
    width: 400px;
    height: 40px;
    border-radius: 5px;

}
#PostCodeSearch{
    height: 40px;
    background-color: #bbb;
    border: 1px solid #bbb;
    color: white;
    cursor: pointer;


}
.addressplus{
    width: 100px;
    height: 40px;
    border-radius: 5px;

}

.addressdetail{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px;

}

.buttonJoin button{
    width : 355px;
    height: 40px;
    margin-top: 100px;
    /* cursor: pointer; */
    color: white;
    background-color: #FF7000;
    border: 0px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    margin-left: 230px;
}
