<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="board-content-container" th:fragment="board">
  <div class="left-background"></div>
  <div class="board-top-img">
    <figure>
      <img src="/board/img/boardNoticeImg.jpg" alt="상단 사진">
    </figure>
    <div class="board-banner-title">
      <p>안녕하세요? 무엇을 도와드릴까요?</p>
      <p>공지사항을 확인해주세요</p>
    </div>
  </div>
  <!-- <div class="right-background"></div> -->

  <div class="board-a-btn">
    <a href="/board/faq">
      <div class="board-a">
        <dl >
          <dt>
            <img src="/board/img/FAQ-button.png" alt="FAQ 이동">
          </dt>
          <dd><strong>자주 묻는 질문</strong></dd>
          <dd>FAQ</dd>

        </dl>
      </div>
    </a>
    <a href="/board/notice">
      <div class="board-a">
        <dl style="border: 2px solid #FF7000;">
          <dt>
            <img src="/board/img/Notice-button.png" alt="FAQ 이동">
          </dt>
          <dd><strong>공지사항</strong></dd>
          <dd>Notice</dd>

        </dl>
      </div>
    </a>
    <a href="/board/serviceReview">
      <div class="board-a">
        <dl >
          <dt>
            <img src="/board/img/Review-button.png" alt="FAQ 이동">
          </dt>
          <dd><strong>서비스 이용 후기</strong></dd>
          <dd>Review</dd>

        </dl>
      </div>
    </a>
  </div>
</div>
</body>
</html>