<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" class="footer">
<footer >
    <div class="footer-container">
        <div class="footer-logo-container">
            <a href="/common/index"><h1>BomoBomo</h1></a>
            <p>
                <span>육아에 도움이 필요할 땐 언제 어디서나
                보모보모가 해결하겠습니다
                </span>
            </p>
        </div>
        <div class="terms-container">

            <dl>
                <dt><strong>약관 바로가기</strong></dt>
                <dd><a href="/policy/privacyA">개인정보처리방침</a></dd>
                <dd><a href="/policy/privacyB">개인정보취급방침</a></dd>
                <dd><a href="/policy/personalInfo">개인정보 수집 및 이용</a></dd>
                <dd><a href="/policy/service">이용약관</a></dd>
            </dl>

        </div>
        <div class="footer-content-container">
            <dl>
                <dt><strong>오시는 길</strong></dt>
                <dd><strong>본사/보모보모연구소</strong></dd>
                <dd>서울특별시 노원구 상계로 1길 34 5층</dd>
                <dd>02-933-5890</dd>
            </dl>
        </div>

        <div class="footer-customer-container">
            <dl>
                <dt><strong>고객지원</strong></dt>
                <dd>운영본부 1:1 상담</dd>
                <dd>-평일: 09:00-20:00</dd>
                <dd>-주말: 09:00-18:00</dd>
                <dd><a href="/board/faq">자주 묻는 질문(FAQ)</a></dd>
            </dl>
        </div>

    </div>

</footer>
</div>
</body>