*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;

}
body{
    background-color: #f1f1f1;
}
ul{
    list-style-type: none;
}
input{
    padding: 5px;
    border-radius: 5%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(189, 189, 189);
}
input:focus{
    outline: none;
}
.admin-container{
    display: flex;
    flex-direction: column;
    margin :auto ;
    width: 1200px;
    height:100%;
    border : 1px solid #f1f1f1;
    background-color: white;
    /* background-color: #e7e7e7; */
}

.side-container{
    box-sizing: border-box;
    width: 200px;
    padding-top: 36px;
    padding-left: 28px;
    border-right: 1px solid #ebebeb;
    padding-bottom: 96px;
}

.side-container div {
    margin-bottom: 40px;
}

.side-container h4 {
    font-size: 18px;
    color: #4F4D8E;
    font-weight: 700;
    margin-bottom: 9px;
}

.side-container li {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    cursor: pointer;
}

.side-container li:hover {
    color: black;
}

/* .on{
    background-color:#01b9ff;
} */

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 1200px;
    display:flex;
    background-color: white;
    border-bottom :1px solid #f1f1f1;
    /* padding: 5px; */
    /* border:1px solid red; */
    /* box-shadow: 0px 0px 3px 0px gray; */
    /* border: 1px solid #e6e6e6; */
}
.main-header-title{
    color: #4F4D8E;
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    width: 100%;
    height: 1000px;
}
.admin-name{
    margin-left: auto;
    width: 300px;
    margin: 3px 0 5px auto;
    font-size: 20px;
    color: rgb(139,141, 140);
    text-align: center;
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    /* margin-left: 10px; */
    margin-right: 10px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}
.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
    padding-bottom: 10px;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
}
.announce-detail-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin: 30px auto 0px;
    background-color: white;
    border: 1px solid #ebebeb;
    /* box-shadow: 5px 5px 5px 5px gray; */
    /* border-radius: 1%; */
}

.announce-list-bottom{
    margin-top: 10px;
    display: flex;
}

form > select{
    margin-top: 10px;
    margin-right: 3px;
    height: 30px;
}

form > input{
    margin-top: 10px;
    height: 28px;
}

form > button{
    cursor: pointer;
    border: 1px solid black;
    width: 45px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    margin-left: 3px;
}

.pagination-container {
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 18px;
    margin-top: 35px;
    margin-right: 5px;
    margin-left: 390px;
    width: 40%;
}

.pagination-container a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    font-size: 15px;
}

.bt{
    background-color:white;
}

.pagination-container a.bt {
    padding-top: 9px;
}

.pagination-container a.num {
    padding-top: 9px;
    font-size: 15px;
}


.pagination-container a:first-child {
    border-left: 1px solid #ddd;
}

.announce-search-container{
    margin: auto 33px auto 30px;
    width: 35%;
}
.announce-search-container > form>button{
    border: 1px solid rgb(118,118, 118);
    border-radius: 5%;
}

.on{
    background-color:#4F4D8E !important;
    color: white;
}
.announce-list-bottom > a{
    width: 70px;
    height: 40px;
}
a > button{
    width: 70px;
    height: 40px;
    color:white;
    background-color: #4F4D8E;
    border-radius: 10%;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 80px;
}

.top{
    width: 100%;
    /* margin: 0 auto; */
    /* padding-top: 10px 10px; */
    padding: 10px;
    display: flex;
    font-size: 20px;
    width: 96%;
    margin: 0 auto;
    border-bottom: 3px solid #01b9ff;
    margin-right:auto;
    text-align: center;
}
.top>div{
    font-weight: bold;
    font-size: 21px;
    color: #353535;
}
.top .announce-num{
    text-align: center;
    width: 100px;
}
.top .announce-title{
    text-align: center;
    width: 400px;
}
.top .date{
    text-align: center;
    margin-left: 60px;
}
.top .count{
    text-align: center;
    margin-left: 100px;
}
.announce-list{
    height: 100%;
}
.announce-list > div {
    display: flex;
    margin: 0 auto;
    width: 98%;
    border-bottom:1px solid #ddd;
}

.post{
    display: flex;
    align-items: center;
    text-align: center;
    height: 67px;
    font-size: 18px;
}

.post>div{
    cursor: pointer;
}
.post .announce-num{
    width: 12%;
}
.post .announce-title{
    width: 47%;

}
.post .date{
    width: 19%;
}
.post .count{
    width: 17%;
}

.board-title{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;

}

.title-text{
    font-size: 40px;
    margin-left:30px;
    color: rgb(202, 46, 46);
}

.title-text-sub{
    font-size: 15px;
    margin-left:30px;
    color: rgb(128,128,128);
}
.board-view{
    width: 93%;
    margin: 0 auto;
    /* border-top:2px solid rgb(202, 46, 46); */
}
.board-view > div.title{
    padding: 20px 15px;
    font-size: 20px;
    border-bottom: 1px dashed #ddd;
}

.board-view > .info {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #999;
}
.info > dl{
    display: flex;
    margin-right: 20px;
}
.board-view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board-content{
    padding: 15px;
    /* border-bottom: 1px solid rgb(202, 46, 46); */
    line-height: 160%;
    font-size: 15px;
    height: 500px;
}
.board-content>textarea{
    padding: 10px;
    /* border-bottom: 1px solid rgb(202, 46, 46); */
    /* text-align: left; */
    resize: none;
    font-size: 16px;
    height: 550px;
    width: 780px;
    border: none;
    /* border: 1px solid black; */
}
textarea:focus{
    outline: none;
}
.bt-container{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 20px auto 0;
    width: 90%

}

.board-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 25px;
    margin-right: auto;
    background-color:#4F4D8E;
    color: white;
    border-radius: 10%;
    padding: 5px;
}

.board-fix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 25px;
    margin-right: 10px;
    background-color:#4F4D8E;
    color: white;
    border-radius: 10%;
    padding: 5px;
}
.board-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 25px;
    background-color: #666666;
    color: white;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
}

.bt-container >a{
    text-align: center;
    text-decoration: none;
    color: white;
}