*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #f1f1f1;
}

ul{
    list-style-type: none;
}
input{
    border-radius: 5%;
    font-size: 16px;
}
input:focus{
    outline: none;
}
select:focus{
    outline :none;
}
.admin-container{
    display: flex;
    flex-direction: column;
    margin :auto ;
    width: 1200px;
    height:1000px;
    border : 1px solid #f1f1f1;
    background-color: white;
    /* background-color: #e7e7e7; */
}

.side-container{
    box-sizing: border-box;
    width: 200px;
    padding-top: 36px;
    padding-left: 28px;
    border-right: 1px solid #ebebeb;
    padding-bottom: 96px;
}

.side-container div {
    margin-bottom: 40px;
}

.side-container h4 {
    font-size: 18px;
    color: #4F4D8E;
    font-weight: 700;
    margin-bottom: 9px;
}

.side-container li {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    cursor: pointer;
}

.side-container li:hover {
    color: black;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 1200px;
    display:flex;
    background-color: white;
    border-bottom :1px solid #f1f1f1;
    /* padding: 5px; */
    /* border:1px solid red; */
    /* box-shadow: 0px 0px 3px 0px gray; */
    /* border: 1px solid #e6e6e6; */
}
.main-header-title{
    color: #4F4D8E;
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    width: 100%;
    height: 100%;
}

.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
    display: flex;
    padding-bottom: 10px;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
}

.on{
    background-color:#4F4D8E !important;
    color: white;
}

.admin-name{
    width: 300px;
    margin: 3px 0 5px auto;
    font-size: 20px;
    color: rgb(139,141, 140);
    text-align: center;
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    /* margin-left: 10px; */
    margin-right: 10px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}
.user-main-container{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 80%;
    margin: 30px auto;
    background-color: white;
    /*box-shadow: 5px 5px 5px 5px gray;*/
    /*border-radius: 3%;*/
}
.top{
    width: 98%;
    /* margin: 0 auto; */
    /* padding-top: 10px 10px; */
    padding: 10px;
    display: flex;
    font-size: 20px;
    margin: 0 auto;
    /*border-bottom: 3px solid #01b9ff;*/
    background-color: #4F4D8E;
}
.top>div{
    /*font-weight: bold;*/
    font-size: 21px;
    color: white;
}

.top .user-num{
    width: 20%;
}
.top .user-name{
    width: 20%;
}
.top .user-id{
    width: 20%;
}
.top .date{
    width: 20%;
}
.top .review{
    width: 20%;
}
.user-list{
    height: 690px;
}
.user-list > div {
    display: flex;
    margin: 0 auto;
    width: 98%;
    border-bottom:1px solid #ddd;
}

.board-list > div:last-child{
    border-bottom: 1px solid #999;
}
.post{
    display: flex;
    align-items: center;
    /* text-align: center; */
    height: 67px;
    font-size: 18px;
}

.post{
    cursor: pointer;
}
.post .user-num{

    width: 16%;
    margin-left: 40px;
}
.post .user-name{
    width: 20%;
}
.post .user-id{
    width: 18%;
}
.post .date{
    width: 20%;

}
.post .review{
    width: 15%;
    margin: 0 auto;
}

.user-list-bottom{
    margin: 50px auto 0;
    display: flex;
    width: 900px;
}

.user-search-container{
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: auto 33px auto auto;
}

.user-search-container > select{
    width: 70px;
    margin-top: 10px;
    margin-right: 3px;
    height: 30px;
    border: 1px solid #ddd;
}

.user-search-container > input{
    width: 165px;
    border: 1px solid #ddd;
    margin-top: 10px;
    height: 28px;
}

.user-search-container > button{
    cursor: pointer;
    border: 1px solid #ddd;
    width: 45px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    margin-left: 3px;

}

.pagination-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    width: 300px;
    margin-left: 300px;
}

.pagination-container a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    font-size: 15px;
}

.bt{
    background-color:white;
}

.pagination-container a.bt {
    padding-top: 9px;
}

.pagination-container a.num {
    padding-top: 9px;
    font-size: 15px;
}


.pagination-container a:first-child {
    border-left: 1px solid #ddd;
}

.user-search-container > button{
    border: 1px solid #ddd;
    border-radius: 5%;
}