*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
textarea{
    resize: none;
    padding: 10px;
    margin-right: 5px;
}

input{
    padding: 5px;
    border-radius: 5%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(189, 189, 189);
}
input:focus{
    outline: none;
}
.admin-container{
    display: flex;
    margin :auto ;
    width: 1200px;
    height:1000px;

    background-color: #e7e7e7;
}

.side-container{
    width: 200px;
    height: 100%;
    background-color: #353535;
}

.side-logo-box{
    width: 200px;
    height: 150px;
    border-bottom: 3px solid #646464;
}

.logo{
    width: 200px;
    height: 150px;
}

.side-item-container{
    list-style-type: none;
}

.side-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;
    width: 200px;
    height: 40px;
    margin: 20px 0;
    cursor: pointer;
}

.on{
    background-color:#01b9ff;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 988px;
    display:flex;
    background-color: white;
    /* border:1px solid red; */
    padding: 5px;
    box-shadow: 0px 0px 3px 0px gray;
    border: 1px solid #e6e6e6;
}
.main-header-title{
    color: rgb(139,141, 140);
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    height: 100%;
}
.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
    padding-bottom: 10px;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
}
.admin-name{
    margin-left: auto;
    width: 50px;
    margin: 3px 20px 5px 600px;
    font-size: 30px;
    color: rgb(139,141, 140);
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    margin-left: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.announce-write-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin: 30px auto 0px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px gray;
    border:3px solid #01b9ff;
    border-radius: 3%;
}
.board-main{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    min-height: 530px;
    margin:50px auto;
}

.board-title{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
}

.title-text{
    font-size: 40px;
    margin-left:30px;
    color: rgb(202, 46, 46);
}

.title-text-sub{
    font-size: 15px;
    margin-left:30px;
    color: rgb(128,128,128);
}
.write-title{
    display: flex;
    width: 93%;
    margin: 0 auto;
    margin-bottom: 5px;
}


.write-title > input{
    padding-left: 10px;
}
.write-title > input:focus{
    outline: none;
}
.board-write{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    margin: 0 auto;
    border-top:2px solid #01b9ff;
}

.content-title{
    width: 300px;
}
.content-password{
    margin-left: 10px;
    width: 60px;
}


.write-content{
    width: 100%;
    margin-top: 10px;
}
.write-content > textarea{
    width: 774px;
    height: 500px;
}
.write-content > textarea:focus{
    outline: none;
}

.write-bottom{
    display: flex;
    width: 90%;
    margin: 20px auto 0;
}

.write-btn{ 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-btn.list{
    margin-right: auto;
    width: 65px;
    height: 25px;
    background-color:#01b9ff;
    color: white;
    border-radius: 10%;
}
.write-btn.write{
    margin-left: 30px;
    width: 55px;
    height: 25px;
    background-color:#01b9ff;
    color: white;
    border-radius: 10%;
}
.checkbox{
    display: flex;
    padding: 3px;
    margin-left: auto;
    font-size: 15px;
    color: #666;
}
.checkbox > input{
    width: 15px;
    height: 15px;
    margin: auto 5px;
}

.board-fix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 25px;
    margin-right: 10px;
    background-color:#01b9ff;
    color: white;
    border-radius: 10%;
    padding: 5px;
}
.board-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 25px;
    background-color: #666666;
    color: white;
    border-radius: 10%;
    padding: 5px;
}
