*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    border-radius: 5%;
    font-size: 16px;
}
input:focus{
    outline: none;
}
select:focus{
    outline :none;
}
.admin-container{
    display: flex;
    margin :auto ;
    width: 1200px;
    height:1000px;

    background-color: #e7e7e7;
}

.side-container{
    width: 200px;
    height: 100%;
    background-color: #353535;
}

.side-logo-box{
    width: 200px;
    height: 150px;
    border-bottom: 3px solid #646464;
}

.logo{
    width: 200px;
    height: 150px;
}

.side-item-container{
    list-style-type: none;
}

.side-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;
    width: 200px;
    height: 40px;
    margin: 20px 0;
    cursor: pointer;
}

.on{
    background-color:#01b9ff !important;
    color: white;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 988px;
    display:flex;
    background-color: white;
    /* border:1px solid red; */
    padding: 5px;
    box-shadow: 0px 0px 3px 0px gray;
    border: 1px solid #e6e6e6;
}
.main-header-title{
    color: rgb(139,141, 140);
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    height: 100%;
}

.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
    display: flex;
    padding-bottom: 10px;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
}

.admin-name{
    width: 50px;
    margin: 3px 20px 5px 600px;
    font-size: 30px;
    color: rgb(139,141, 140);
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    margin-left: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.user-main-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin: 30px auto 0px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 3%;
}
.top{
    width: 100%;
    /* margin: 0 auto; */
    /* padding-top: 10px 10px; */
    padding: 10px;
    display: flex;
    font-size: 20px;
    width: 96%;
    margin: 0 auto;
    border-bottom: 3px solid #01b9ff;
}
.top>div{
    font-weight: bold;
    font-size: 21px;
    color: #353535;
}

.top .user-num{
    margin-right: auto;
}
.top .user-name{
    margin-left: 60px;
}
.top .user-id{
    margin-left: 60px;
}
.top .date{
    margin-left: 100px;
}
.top .review{
    margin-left: 100px;
}
.top .status{
    margin-left: 100px;
}
.user-list{
    height: 690px;
}
.user-list > div {
    display: flex;
    margin: 0 auto;
    width: 98%;
    border-bottom:1px solid #ddd;
}

.board-list > div:last-child{
    border-bottom: 1px solid #999;
}
.post{
    display: flex;
    align-items: center;
    text-align: center;
    height: 67px;
    font-size: 18px;
}

.post>div{
    cursor: pointer;
}
.post .user-num{

    width: 12%;

}
.post .user-name{
    width: 15%;

}
.post .user-id{
    width: 10%;
}
.post .date{
    width: 29%;
}
.post .review{
    width: 9%;
}
.post .status{
    margin-left: auto;
    width: 18%;
}

.user-list-bottom{
    margin: 50px auto 0;
    display: flex;
    width: 900px;
}

.user-search-container{
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: auto 33px auto auto;
}

.user-search-container > select{
    width: 70px;
    margin-top: 10px;
    margin-right: 3px;
    height: 30px;
    border: 1px solid #ddd;
}

.user-search-container > input{
    border: 1px solid #ddd;
    width: 162.5px;
    margin-top: 10px;
    height: 28px;
}

.user-search-container > button{
    cursor: pointer;
    border: 1px solid #ddd;
    width: 45px;
    height: 30px;
    background-color: white;
    margin-top: 10px;
    margin-left: 3px;

}

.pagination-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    width: 300px;
    margin-left: 300px;
}

.pagination-container a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    font-size: 15px;
}

.bt{
    background-color:white;
}

.pagination-container a.bt {
    padding-top: 9px;
}

.pagination-container a.num {
    padding-top: 9px;
    font-size: 15px;
}


.pagination-container a:first-child {
    border-left: 1px solid #ddd;
}

.user-search-container > button{
    border: 1px solid #ddd;
    border-radius: 5%;
}