*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}


.admin-container{
    display: flex;
    margin :auto ;
    width: 1200px;
    height:1000px;

    background-color: #e7e7e7;
}

.side-container{
    width: 200px;
    height: 100%;
    background-color: #353535;
}

.side-logo-box{
    width: 200px;
    height: 150px;
    border-bottom: 3px solid #646464;
}

.logo{
    width: 200px;
    height: 150px;
}

.side-item-container{
    list-style-type: none;
}

.side-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7e7; 
    width: 200px;
    height: 40px;
    margin: 20px 0;
    cursor: pointer;
}

.on{
    background-color:#01b9ff;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 988px;
    display:flex;
    background-color: white;
    /* border:1px solid red; */
    padding: 5px;
    box-shadow: 0px 0px 3px 0px gray;
    border: 1px solid #e6e6e6;
}
.main-header-title{
    color: rgb(139,141, 140);
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    height: 100%;
}
.admin-name{
    margin-left: auto;
    width: 50px;
    margin: 3px 20px 5px 600px;
    font-size: 30px;
    color: rgb(139,141, 140);
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    margin-left: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
    padding-bottom: 10px;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
}

.grid-container{
    width: 100%;
    height: 47%;
    display: grid;
    grid-template-rows: 460px;
    grid-template-columns: 50% 50%;
}
.grid-item{
    margin: 20px;
    background-color: white;
}
.grid-item.signup-chart{
    box-shadow: 2px 2px 2px 2px gray;
}

.grid-item.signup-chart > div{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #e7e7e7;
}
.grid-item.sales-chart{
    box-shadow: 2px 2px 2px 2px gray;
}
.grid-item.sales-chart > div{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #e7e7e7;
}

#join-chart{
    margin: 5px 5px;
}
#sales{
    margin-top: 20px;
}
.bottom-container{
    width: 999px;
    height: 428px;
}

.bottom-container > div{
    margin: 20px;
    background-color: white;
    height: 90%;
    box-shadow: 2px 2px 2px 2px gray;
}

.bottom-title{
    display: flex;
    font-size: 25px;
    align-items: center;
    padding-left: 10px;
    width: 99%;
    height: 50px;
    border-bottom: 2px solid #e7e7e7;
}

.bottom-main{
    margin: 10px;
    width: 98%;
    height: 315px;
}