*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
input,textarea{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(189, 189, 189);
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}

ul{
    list-style-type: none;
}
body{
    background-color: #f1f1f1;
}
.admin-container{
    display: flex;
    flex-direction: column;
    margin :auto ;
    width: 1200px;
    height:1000px;
    border : 1px solid #f1f1f1;
    background-color: white;
    /* background-color: #e7e7e7; */
}

.side-container{
    box-sizing: border-box;
    width: 200px;
    padding-top: 36px;
    padding-left: 28px;
    border-right: 1px solid #ebebeb;
    padding-bottom: 96px;
}

.side-container div {
    margin-bottom: 40px;
}

.side-container h4 {
    font-size: 18px;
    color: #4F4D8E;
    font-weight: 700;
    margin-bottom: 29px;
}

.side-container li {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    cursor: pointer;
}

.side-container li:hover {
    color: black;
}

/* .on{
    background-color:#01b9ff;
} */

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 1200px;
    display:flex;
    background-color: white;
    border-bottom :1px solid #f1f1f1;
    /* padding: 5px; */
    /* border:1px solid red; */
    /* box-shadow: 0px 0px 3px 0px gray; */
    /* border: 1px solid #e6e6e6; */
}
.main-header-title{
    color: #4F4D8E;
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    height: 100%;
}
.admin-name{
    width: 300px;
    margin: 3px 0 5px auto;
    font-size: 20px;
    color: rgb(139,141, 140);
    text-align: center;
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    /* margin-left: 10px; */
    margin-right: 10px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}
.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
    padding-bottom: 10px;
}
.emp-detail-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 85%;
    margin: 30px auto 0px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px gray;
    border:3px solid #01b9ff;
    border-radius: 3%;
}

.emp-info-container1{
    margin: 10px;
    display: flex;
    height: 300px;
    width: 98%;
}
.emp-info-container1>.img{
    margin: 5px;
    border-radius: 5%;
    border: 2px solid #01b9ff;
    width: 320px;
    height: 290px;
}
#image-preview{
    width: 320px;
    height: 290px;
    border-radius: 5%;
}
.info{
    border: 2px solid #01b9ff;
    border-radius: 5%;
    margin: 5px;
    padding: 10px;
    width: 600px;
}
.emp-info-container2{
    margin: 40px 10px 10px 10px;
    border: 2px solid #01b9ff; 
    border-radius: 1%;
    height: 500px;
    width: 98%;
}
.introduction{
    height: 260px;
}
.introduction>.title{
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}
.activity{
    margin-top: 5px;
    height: 48%;
}
.activity>.title{
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}
#selfint{
    resize: none;
    margin: 5px;
    width: 860px;
    height: 440px;
    font-size: 20px;
    font-weight: 100!important;
    padding: 5px;
}
.submit-button{
    margin: 10px auto;
}
.submit-button>button{
    width: 70px;
    height: 40px;
    color: white;
    background-color: #01b9ff;
    border-radius: 10%;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.name-age-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#name{
    width: 70px;
    height: 12px;
    margin-right: 10px;
}
#age{
    width: 30px;
    height: 12px;
    margin-right: 10px;
}
#gender{
    height: 22px;
}
.email-phone-container{
    display:flex;
    align-items: center;
}
#contact{
    width:120px;
    height: 15px;
    margin-right: 10px;
}
#email{
    width: 200px;
    height: 15px;
}
.act-checkbox > fieldset{
    height: 160px;
    border-radius: 2%;
    padding: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열을 만듭니다. */
}
.act-checkbox > fieldset>span{
    margin-right: 10px;
    /* margin-bottom:5px ; */
}
.act-check{
    width: 15px;
    height: 15px;
}