*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}

input{
    padding: 5px;
    border-radius: 5%;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(189, 189, 189);
}
input:focus{
    outline: none;
}

ul{
    list-style-type: none;
}
body{
    background-color: #f1f1f1;
}
.admin-container{
    display: flex;
    flex-direction: column;
    margin :auto ;
    width: 1200px;
    height:100%;
    border : 1px solid #f1f1f1;
    background-color: white;
    /* background-color: #e7e7e7; */
}

.side-container{
    box-sizing: border-box;
    width: 200px;
    padding-top: 36px;
    padding-left: 28px;
    border-right: 1px solid #ebebeb;
    padding-bottom: 96px;
}

.side-container div {
    margin-bottom: 40px;
}

.side-container h4 {
    font-size: 18px;
    color: #4F4D8E;
    font-weight: 700;
    margin-bottom: 9px;
}

.side-container li {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    cursor: pointer;
}

.side-container li:hover {
    color: black;
}

/* .on{
    background-color:#01b9ff;
} */

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.main-header{
    align-items: center;
    height: 50px;
    width: 1200px;
    display:flex;
    background-color: white;
    border-bottom :1px solid #f1f1f1;
    /* padding: 5px; */
    /* border:1px solid red; */
    /* box-shadow: 0px 0px 3px 0px gray; */
    /* border: 1px solid #e6e6e6; */
}
.main-header-title{
    color: #4F4D8E;
    margin: 3px 0 5px 10px;
    font-size: 30px;
}

.main-contents{
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
.admin-name{
    width: 300px;
    margin: 3px 0 5px auto;
    font-size: 20px;
    color: rgb(139,141, 140);
    text-align: center;
}
.main-header-exit{
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 185, 202);
    /* margin-left: 10px; */
    margin-right: 10px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}
.contents-title{
    margin: 0px 20px;
    width: 96%;
    border-bottom: 1px solid #353535;
    padding-bottom: 10px;
}

.contents-title > span{
    color: #646464;
    font-size: 30px;
}
.match-manage-container{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 85%;
    margin: 30px auto 20px;
    background-color: white;
    /*box-shadow: 3px 3px 3px 3px gray;*/
    border:3px solid white;
}
.info-container{
    display: flex;
    height: 50%;
}
.user-info{
    border: 3px solid black;
    margin: 20px;
    padding: 20px 0px 0px 20px;
    width: 45%;
    height: 90%;
}
.user-info > p{
    padding-top: 10px;
    font-size: 25px;
}
.user-info > a > button{
    margin-top: 90px;
    margin-left: 130px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #01b9ff;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
}
.emp-info{
    margin: 20px;
    padding : 20px 0px 0px 20px;
    width: 50%;
    height: 90%;
    border: 3px solid black;
}
.emp-info>p{
    padding-top: 10px;
    font-size: 25px;
}
.management{
    display: flex;
    margin: 20px;
    height: 400px;
    border: 3px solid black;
    padding: 20px 0px 0px 20px;
}

.match-info{
    padding-top: 10px;
    font-size: 25px;
}
.match-info>a>button{
    margin-top: 30px;
    width: 110px;
    height: 35px;
    color: white;
    margin-left: 20px;
    background-color: #01b9ff;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
}
.match-status{
    display: flex;
}
.status-manage{
}

#status{
    font-size: 14px;
    width: 100px;
    height: 20px;
}
#status:focus{
    outline: none;
}
.status-manage>form>button{
    width: 90px;
    height: 35px;
    color: white;
    margin-left: 20px;
    background-color: #01b9ff;
    border-radius: 10%;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
}
.status-manage>div{
    height: 100%;
    display:flex;
    margin-top: 270px;
    justify-content: center;
}
.status-manage>div>a>button{
    width: 90px;
    height: 35px;
    color: white;
    margin-left: 20px;
    background-color: #01b9ff;
    border-radius: 10%;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border:1px solid gray;
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
    word-break: keep-all;
}
th{
    width:140px;
    background-color:#4F4D8E;
    color: white;
}
.td-info{
    width: 320px;
}

/*모달 css*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 600px;
    height: 500px;
    margin: 15px auto;
    border-radius:14px;
    box-shadow: 0px 0px 3px 3px rgba(163,174,184,0.3);
}

.modal-contents > p{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.gender-text{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}
.gender-text-2{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}
.children-detail{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}
.children-text{
    width: 590px;
    height: 300px;
    margin-top: 15px;
    margin-left: 5px;
    resize: none;
    box-shadow: 0px 0px 3px 3px rgba(163,174,184,0.5);
}

/* 견적서 */
.payment-wrap{
    margin-top: 5px;
     border: 1px solid #ebebeb;
    display: flex;
    width: 700px;

}

.payment-wrap-left{
    margin-left: 10px;
    /* border: 1px solid black; */
    padding: 10px 10px;
}

.user-detail{
    text-decoration: none;
    /* border: 1px solid black; */
    list-style: none;

}
.user-detail>p{
    font-size: 16px;
    font-weight: bold;
}

.pay-user-info{
    /* border: 1px solid black; */
    height: 30px;
    font-size: 16px;
    /*padding-bottom: 10px;*/
    border-bottom: 1px solid #666;
    font-weight: bold;
    margin-bottom: 10px;
}

.user{
    /* border: 1px solid black; */
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px;
    /* background-color: #e6e6e6; */
    margin-top: 8px;

}

.user p:first-child{
    /* border: 1px solid black; */
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.user-private-area{
    /* border: 1px solid black; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;


}
.user-private-area span{
    width: 120px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;

}

.user-name{
    border: 1px solid #666;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;



}

.user-phone{
    border: 1px solid #666;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;

}


.user-email{
    border-radius: 5px;
    border: 1px solid #666;
    font-size: 18px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;

}



.user-address p:first-child{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}



.address-info{
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
}

.address-detail{
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;

}

.payment-wrap-right{
    border-left: 1px solid black;
    padding: 10px 10px;
    margin-left: 10px;
    width: 398px;
}
.product-area{
    width: 398px;
}
.product-info{
    list-style: none;
    overflow-y: scroll;
    width: 398px;
    height: 300px;
}

.product-info li{
    margin-bottom: 8px;
}

.product-detail{
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.product-detail p{
    margin-top: 5px;
}

.product-title{
    font-weight: bold;
}
.check-area{
    margin-left: auto;
}
.check-area button{
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: white;
    color: #4F4D8E;
    border: 1px solid #4F4D8E;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 190px;
}
#submitEst:hover{
    background: #4F4D8E;
    color: white;
}

.total-payment{
    /* border: 1px solid black; */
    /* margin-top: 20px; */
    text-align: right;
    height: 40px;
}

.total-payment span{
    line-height: 50px;
    font-size: 18px;

}
.total-payment span:first-child{
    font-weight: bold;
}

.total-area{
    border-top: 1px solid #bbb;
    height: 40px;
    margin-top: 20px;
    width: 98%;
}
.est-submit{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    width: 300px;
}
.est-content{
    margin-bottom: 10px;
}
#est-title{

}
#est-price{
margin-bottom: 10px;
}
.pay{
    text-align: right;
    margin-right: 5px;
}
.pay span:first-child{
    font-weight: bold;
    font-size: 16px;
}
#addEst{
    margin-rgiht: auto;
    width: 40px;
    height: 30px;
    padding: 5px;
}
.product-detail {
    position: relative;
}

.remove-item {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white; /* X 버튼 배경색 */
    color: black; /* X 버튼 텍스트 색상 */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}