.main {
    width: 100%;
    height: 100%;
    min-height: 100vm;

}

.main-banner-container {

    width: 100%;
    height: 100%;
    max-height: 1000px;


}
.main-banner-container img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    max-height: 1000px;

}



.main-letter-container {
    width: 100%;
    height: 100%;
    background-color: #FF7000;
    /* border: 2px solid red; */
}

.main-letter {
    /* border: 2px solid blue; */
    background-color: #FF7000;
    margin: 0 auto;
    width: 1024px;
    height: 100%;
}

.main-letter dl{
    line-height: 1.9;
    font-family: GmarketSansMedium;

}

.left-letter {
    height: 230px;
    color: black;
    box-sizing: border-box;
    padding: 15px;

    width: 1024px;
}
.left-letter span {
    font-size: 1em;
    font-family: GmarketSansMedium;

}









/* 보모보모 서비스 소개 영역 */
.service-content-container{
    /* border: 2px solid red; */
    width: 1024px;
    margin: 0px auto;
    padding: 90px 0px 90px 0;
    font-family: 'GmarketSansMedium';


}
.service-content-container h2 {
    /* border: 2px solid blue; */
    text-align: center;
    padding: 30px;
    font-size: 1em;
}

.service-content-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service-content-container ul li {
    width: 330px;
    height: 250px;
}
.service-content-container ul li img{
    transition: 1s all;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.service-content-container p {
    padding-top: 10px;
    text-align: center;
    font-size: 1em;
}

.service-content-container p span {
    font-size: 0.9em;
}

.zoom {
    border-radius: 10px;
    overflow: hidden;
    width: 330px;
    height: 250px;
}

.service-content-container ul li img:hover {
    scale: 1.1;
}








/* 시터 및 이벤트 서비스 리뷰 영역 */
.review-content-contatiner{
    width: 100%;
    height: 750px;
    padding-bottom: 50px;
    border-bottom: 2px solid #FF7000;



}


.review-content {
    width: 1024px;
    margin: 30px auto;
}

.review-title{
    min-width: 1024px;
    padding:40px 0px 40px 0px;
    background-color: #FF7000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.review-title h2 span {
    font-size: 1.1em;
    color: white;
}

.review-title>h2{
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 1.1em;

}

.go-to-review-page{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    color: white;
    font-family: 'GmarketSansMedium';
    font-size: 17px;
    margin-top: 15px;
    background-color: #e89f14d9;
    box-shadow: #393939 0px 1px 1px 1px;
}
.review-panel, .review-panel2 {
    width: 1024px;
    height: 270px;
    overflow: hidden;
}
.review-panel ul, .review-panel2 ul {
    z-index: 999;
    position: relative;
    width: 1900px;
    display: flex;
    justify-content: space-between;
}

.review-panel ul li, .review-panel2 ul li {
    width: 295px;
    height: 150px;
}

.review-panel ul li img, .review-panel2 ul li img {
    width: 100%;
    height: 100%;
}
.review-panel dl dt, .review-panel2 dl dt {
    padding: 5px;
}

.review-panel dl, .review-panel2 dl {
    border: 1px solid gray;

}

.review-section {
    border: 1px solid gray;
}
.review-rating {
    width: 75px;
    height: 30px;
    position: relative;
    right:-200px;
    top:-35px;
    display: flex;
    align-items: center;
    color: #e89f14d9;
    font-size: 18px;
}


.review-text {
    box-sizing: border-box;
    padding:5px;
    height: 45px;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
}




/* 서비스 디테일 영역 */
.service-detail-container{
    border-top: 1px solid gray;
    /*border-bottom: 1px solid gray;*/
    width: 1024px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    /* border: 2px solid red; */
}


.service-detail-container dt {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 30px;
    font-family: 'GmarketSansMedium';

}


.service-detail-img {
    width: 1024px;
    height: 600px;
}
.service-detail-img img {
    width: 100%;
    height: 100%;
}

.service-detail-section {
    text-align: start;
    padding: 20px;
    font-size: 1em;


    font-family: 'IBM Plex Sans KR', sans-serif;
}



/* 카카오맵 영역 */
.company-map-container{
    min-width: 1024px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: rgba(202, 201, 201, 0.24);
    width: 100%;
    height: 100%;

}

.company-map-container h2 {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */
    padding: 30px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: GmarketSansMedium;

}

#map {
    border-radius: 10px;
    width: 1024px;
    height: 400px;
    margin: 0 auto;
}

.company-location-text {

    padding: 30px 0px 0px 0px;
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-family: GmarketSansMedium;

}
.company-location-text dl dt {
    padding-bottom: 10px;
}

.company-location-text span {
    line-height: 1.7;
    margin-right: 10px;
    font-weight: bold;
}


