.main {
    width: 100%;
    height: 100%;
    min-height: 100vm;

}

.main-banner-container {

    width: 100%;
    height: 100%;
    max-height: 1000px;


}
.main-banner-container img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    max-height: 1000px;

}



.main-letter-container {
    width: 100%;
    height: 100%;
    background-color: #FF7000;
    /* border: 2px solid red; */
}

.main-letter {
    /* border: 2px solid blue; */
    background-color: #FF7000;
    margin: 0 auto;
    width: 1024px;
    height: 100%;
}

.main-letter dl{
    font-size: 33px;
    line-height: 1.5;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}

.left-letter {
    color: black;
    box-sizing: border-box;
    padding: 15px;
    /* border: 2px solid red; */
    width: 1024px;
}
.left-letter span {
    font-size: 1em;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}

.right-letter {
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: end;
    /* border: 2px solid blue; */
    width: 1024px;
}

.right-letter h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    font-size: 4em;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}
.right-letter h1 span {

    font-family: "Luckiest Guy", cursive;
    transform: scale(0.9);
    display: inline-block;
}
.right-letter h1 span:first-child {
    -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
.right-letter h1 span:last-child {
    -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@-webkit-keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%, 100% {
        transform: scale(1);
    }
}

@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%, 100% {
        transform: scale(1);
    }
}
@-webkit-keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%, 100% {
        transform: scale(1) rotateZ(-3deg);
    }
}
@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%, 100% {
        transform: scale(1) rotateZ(-3deg);
    }
}







/* 보모보모 서비스 소개 영역 */
.service-content-container{
    /* border: 2px solid red; */
    width: 1024px;
    margin: 0px auto;
    padding: 90px 0px 90px 0;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;

}
.service-content-container h2 {
    /* border: 2px solid blue; */
    text-align: center;
    padding: 30px;
    font-size: 3em;
}

.service-content-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service-content-container ul li {
    width: 330px;
    height: 250px;
}
.service-content-container ul li img{
    transition: 1s all;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.service-content-container p {
    text-align: center;
    font-size: 1.8em;
}

.service-content-container p span {
    font-size: 1.7em;
}

.zoom {
    border-radius: 10px;
    overflow: hidden;
    width: 330px;
    height: 250px;
}

.service-content-container ul li img:hover {
    scale: 1.1;
}








/* 시터 및 이벤트 서비스 리뷰 영역 */
.review-content-contatiner{
    /* border: 2px solid blue; */
    width: 1024px;
    height: 800px;
    padding-top: 50px;
    padding-bottom: 100px;
    /* border-bottom: 1px solid gray; */
    margin: 0 auto;


}


.review-content-contatiner h2{
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
    font-size: 2.2em;
}

.review-content-contatiner h2 span {
    font-size: 1.8em;
    color: #FF7000;
}

.review-title>h2{
    padding-bottom: 30px;
}


.review-panel, .review-panel2 {
    /* border: 2px solid red; */
    width: 1024px;
    height: 290px;
    overflow: hidden;
}
.review-panel ul, .review-panel2 ul {
    position: relative;
    width: 1900px;
    display: flex;
    justify-content: space-between;
}

.review-panel ul li, .review-panel2 ul li {
    width: 300px;
    height: 150px;
}

.review-panel ul li img, .review-panel2 ul li img {
    width: 100%;
    height: 100%;
}
.review-panel dl, .review-panel2 dl {
    border: 2px solid red;
}
.review-panel dl dd:nth-child(2),
.review-panel2 dl dd:nth-child(2) {
    border: 2px solid red;
    width: 75px;
    height: 30px;
    position: relative;
    right:-220px;
    top:-25px;
    display: flex;
    align-items: center;
}
.review-panel dl span,
.review-panel2 dl span{
    margin-left: 4px;
    font-size: 15px;
}
.review-panel dl dd img,
.review-panel2 dl dd img {

    width: 30px;
    height: 100%;
}

.review-panel dl dd:nth-child(3),
.review-panel2 dl dd:nth-child(3) {
    border: 2px solid red;
    height: 50px;
}


.review-board-btn{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

.review-board-btn a {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
    /* border: 2px solid blue; */
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    height: 40px;
    background-color:#dfb015 ;
    border-radius: 15px;
    color: white;
}

/* 서비스 디테일 영역 */
.service-detail-container{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 1024px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    /* border: 2px solid red; */
}


.service-detail-container dt {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    padding: 30px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}


.service-detail-img {
    width: 1024px;
    height: 600px;
}
.service-detail-img img {
    width: 100%;
    height: 100%;
}

.service-detail-section {
    text-align: start;
    padding: 20px;
    font-size: 1em;


    font-family: 'IBM Plex Sans KR', sans-serif;
}



/* 카카오맵 영역 */
.company-map-container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(202, 201, 201, 0.24);
    width: 100%;
    height: 100%;
    font-size: 1.9em;

}

.company-map-container h2 {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid red; */
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}

#map {
    border-radius: 10px;
    width: 1024px;
    height: 400px;
    margin: 0 auto;
}

.company-location-text {
    padding: 30px 0px 0px 0px;
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;
}

.company-location-text span {
    margin-right: 10px;
    font-weight: bold;
}



/*.review-content-container {*/
/*    width: 1024px;*/

/*    overflow: hidden;*/
/*    height: 700px;*/
/*}*/

/*.review-ul {*/
/*    font-family: 'IBM Plex Sans KR', sans-serif;*/
/*    padding-top: 50px;*/
/*    width: 2100px;*/
/*    display: flex;*/

/*    !* border: 2px solid red; *!*/
/*}*/

/*.review-ul li {*/

/*    !* border: 2px solid red; *!*/
/*    width: 250px;*/
/*    border: 1px solid gray;*/
/*}*/
/*.review-ul li a {*/
/*    color: black;*/
/*}*/

/*.review-sitter-img {*/
/*    width: 250px;*/
/*    height: 180px;*/
/*}*/
/*.review-sitter-img img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.review-sitter-content {*/
/*    padding: 5px;*/
/*    display: flex;*/
/*    border-bottom: 1px solid gray;*/

/*}*/
/*.review-sitter-content p {*/
/*    width: 170px;*/
/*}*/

/*.review-score {*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: end;*/
/*    width: 80px;*/
/*}*/

/*.review-score img {*/
/*    width: 20%;*/
/*    height: 100%;*/
/*}*/
/*.review-text-content {*/

/*}*/
/*.review-text-content dl {*/
/*    height: 90px;*/
/*}*/
/*.review-text-content dl dt {*/
/*    padding: 5px;*/
/*}*/

/*.review-text-content dl dd {*/
/*    height: 70px;*/
/*}*/
/*!* 리뷰내용 말줄임표 css *!*/
/*.review-text-content dd p {*/
/*    line-height: 1.3;*/
/*    box-sizing: border-box;*/
/*    padding: 5px;*/
/*    !* border: 2px solid red; *!*/
/*    height: 45px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: normal;*/
/*    text-align: left;*/
/*    -webkit-line-clamp: 2;*/
/*    -webkit-box-orient: vertical;*/
/*    display: -webkit-box;*/
/*    font-size: 16px;*/
/*}*/
