<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/policy/css/policy.css">
    <link rel="stylesheet" href="/common/css/common.css">
    <title>개인정보취급방침</title>
</head>
<body>
<div class="side-btn">
    <div class="top-btn">
        <button type="button">TOP</button>
    </div>
</div>
<div class="policy-wrap">
    <div class="title">
        <ul>
            <li><h2>BomoBomo 약관 및 개인정보 보호</h2></li>
            <li><a href="/common/index">메인페이지</a></li>
        </ul>
    </div>
    <div class="terms-container">
        <div class="policy-title">
            <ul>
                <li ><a href="/policy/privacyA" >개인정보처리방침</a></li>
                <li style="border: 2px solid black"><a href="/policy/personalInfo" style="font-weight: bold;">개인정보취급방침</a></li>
                <li><a href="/policy/privacyB">개인정보 수집 및 이용</a></li>
                <li><a href="/policy/service">이용약관</a></li>
            </ul>
        </div>
        <div class="policy-content">

            <strong>수집하는 개인정보 항목</strong><br><br>
            회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br><br>

            수집항목 : 이름 , 로그인ID , 비밀번호 , 자택 주소 , 휴대전화번호 , 서비스 이용기록 , 접속 로그 , 쿠키 , 접속 IP 정보<br>
            개인정보 수집방법 : 홈페이지(회원가입) , 서면양식<br>
            개인정보의 수집 및 이용목적<br><br>
            회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br><br>

            서비스 제공에 관한 계약 이행 및 서비스 제고에 따른 요금정산, 컨텐츠 제공<br>
            회원관리 - 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입의사 확인, 연령확인, 만 14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 불만처리 등 민원처리, 공지사항 전달<br>
            마케팅 및 광고에 활용 - 이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계<br><br>
            개인정보의 보유 및 이용기간<br>
            회사는 개인정보 수집 및 사용목적 완료 후에는 예외없이 해당 정보를 지체 없이 파기합니다.<br><br>

            개인정보에 관한 민원서비스<br>
            회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.<br><br>

            성명 : 김성찬<br>
            소속 : (주)보모보모<br>
            전화번호 : 1588-5890<br>
            E-mail : privacy@jtbedugroup.com<br>
            귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다.<br><br>

            회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br><br>

            기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br><br><br>

            개인분쟁조정위원회 (www.1336.or.kr/1336)<br>
            정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br>
            대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)<br>
            경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)<br>
            </p>


        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="/common/js/common.js"></script>

</body>
</html>