<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bomobomo.mapper.AddressMapper">

<!--마이 페이지에서 회원정보 수정시 사용되는 쿼리 -->
    <update id="update">
        update  ADDRESS
        set ADDRESS_POST = #{addressPost} , ADDRESS =#{address} , ADDRESS_DETAIL=#{addressDetail}
        where user_number = #{userNumber}
    </update>

</mapper>