<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bomobomo.mapper.EmpImgMapper">



    <select id="selectList" resultType="empImgDto">


        select emp_img_number, emp_number, emp_img_name, emp_img_upload_path, emp_img_uuid
        from emp_img
        where emp_number = #{empNumber}

    </select>



</mapper>