<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bomobomo.mapper.MyPageMapper">
    <!--결제 페이지 시터 결제 매역 및 후기 작성  보기-->
    <select id="selectSitterList" resultType="myPageSitterVo">
        SELECT MATCH_NUMBER, USER_NUMBER, SUBMIT_ORDER_NUMBER, EMP_NUMBER, STATUS, EST_TITLE, EMP_IMG_NAME, EMP_IMG_UPLOAD_PATH, EMP_IMG_UUID, EST_PRICE
             , REVIEW_CHECK
        FROM (
                 SELECT ROWNUM AS RNUM, P1.MATCH_NUMBER, USER_NUMBER, SUBMIT_ORDER_NUMBER, EMP_NUMBER, STATUS, EST_TITLE, EMP_IMG_NAME, EMP_IMG_UPLOAD_PATH, EMP_IMG_UUID, EST_PRICE
                      , REVIEW_CHECK
                 FROM (
                          SELECT S1.MATCH_NUMBER, USER_NUMBER, SUBMIT_ORDER_NUMBER, S1.EMP_NUMBER, STATUS
                               , EC.EST_TITLE , EC.EST_PRICE
                               , EI.EMP_IMG_NAME, EI.EMP_IMG_UPLOAD_PATH, EI.EMP_IMG_UUID
                               , (select count(SB.SITTER_BOARD_NUMBER) FROM SITTER_BOARD SB WHERE S1.MATCH_NUMBER = SB.MATCH_NUMBER) AS REVIEW_CHECK
                          FROM (
                                   SELECT match_number, user_number, submit_order_number, emp_number, status
                                   FROM MATCHS
                                   WHERE USER_NUMBER = #{userNumber} AND STATUS = 2

                               ) S1
                               left JOIN EST_CONTENT EC ON S1.MATCH_NUMBER = EC.MATCH_NUMBER
                                LEFT JOIN EMP_IMG EI ON S1.EMP_NUMBER = EI.EMP_NUMBER
                                order by match_number desc
                     ) P1
            <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        ) P2
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT count(match_number)
        FROM MATCHS
        WHERE USER_NUMBER = ${userNumber} AND STATUS = 2
    </select>

    <!--결제 페이지 이벤트 결제 내역 및 리뷰 작성확인  보기-->
    <select id="selectEventList" resultType="myPageEventVo">
        select  RNUM,EVENT_PAY_NUMBER ,APPLY_NUMBER,USER_NUMBER, EVENT_NUMBER,EVENT_DATE,
        EVENT_NAME, EVENT_PRICE,EVENT_IMG_NAME, EVENT_IMG_UPLOAD_PATH, EVENT_IMG_UUID,REVIEW_CHECK
        from(
            select ROWNUM AS RNUM,EVENT_PAY_NUMBER ,APPLY_NUMBER,USER_NUMBER, EVENT_NUMBER,EVENT_DATE,
            EVENT_NAME, EVENT_PRICE,EVENT_IMG_NAME, EVENT_IMG_UPLOAD_PATH, EVENT_IMG_UUID,REVIEW_CHECK
            from(
                SELECT E1.APPLY_NUMBER,E2.EVENT_PAY_NUMBER ,USER_NUMBER, e1.EVENT_NUMBER,EVENT_DATE,
                E3.EVENT_NAME, E3.EVENT_PRICE,EI.EVENT_IMG_NAME, EI.EVENT_IMG_UPLOAD_PATH, EI.EVENT_IMG_UUID
                ,(SELECT COUNT(EB.EVENT_NUMBER) FROM EVENT_BOARD EB WHERE EB.EVENT_NUMBER =e1.EVENT_NUMBER) AS REVIEW_CHECK
                FROM(
                    SELECT APPLY_NUMBER,USER_NUMBER,EVENT_NUMBER,EVENT_DATE
                    FROM EVENT_APPLY
                    WHERE USER_NUMBER = #{userNumber}
                    )E1
                JOIN EVENT_PAY E2 ON E1.APPLY_NUMBER = E2.APPLY_NUMBER
                JOIN EVENT E3 ON E1.EVENT_NUMBER = E3.EVENT_NUMBER
                left JOIN EVENT_IMG EI ON E3.EVENT_NUMBER = EI.EVENT_NUMBER
                ORDER BY EVENT_NUMBER DESC
                )
            <![CDATA[
            where ROWNUM <= #{criteria.page} * #{criteria.amount}
                ]]>
        )
        where RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>
<!--이벤트 결제진행된 내역 전체 조회-->
    <select id="selectEventTotal" resultType="_int">
        select COUNT(EP.APPLY_NUMBER) AS PAYTOTAL
        from(
                SELECT APPLY_NUMBER
                FROM EVENT_APPLY
                WHERE USER_NUMBER = #{userNumber}
            )S1
                JOIN EVENT_PAY EP ON S1.APPLY_NUMBER=EP.APPLY_NUMBER
    </select>

    <!--마이페이지에서 매칭된 시터의 정보를 출력-->
    <select id="selectMachEmpInfo" resultType="matchEmpInfoVo">
        SELECT MATCH_NUMBER,USER_NUMBER,SUBMIT_ORDER_NUMBER, M3.EMP_NUMBER,STATUS, EMP_NAME,EMP_AGE,EMP_GENDER,
               EMP_IMG_NUMBER,EMP_IMG_NAME,EMP_IMG_UPLOAD_PATH,EMP_IMG_UUID,EMP_ACT_ITEM_NUMBER,M3.ACT_NUMBER,ACT_NAME,
               ACT_IMG_NAME,ACT_IMG_UPLOAD_PATH,ACT_IMG_UUID
        FROM (  SELECT MATCH_NUMBER,USER_NUMBER,SUBMIT_ORDER_NUMBER, M1.EMP_NUMBER,STATUS, EMP_NAME,EMP_AGE,EMP_GENDER,
                       EMP_IMG_NUMBER,EMP_IMG_NAME,EMP_IMG_UPLOAD_PATH,EMP_IMG_UUID,EMP_ACT_ITEM_NUMBER,ACT_NUMBER
                FROM(
                        SELECT MATCH_NUMBER,USER_NUMBER,SUBMIT_ORDER_NUMBER,EMP_NUMBER,STATUS
                        FROM MATCHS
                        WHERE USER_NUMBER=#{userNumber} AND STATUS =1
                    )M1
                        JOIN EMP EP ON M1.EMP_NUMBER = EP.EMP_NUMBER
                        JOIN EMP_IMG EI ON M1.EMP_NUMBER= EI.EMP_NUMBER
                        JOIN EMP_ACT_ITEM EAI ON M1.EMP_NUMBER = EAI.EMP_NUMBER
             )M3
                 JOIN ACT A ON M3.ACT_NUMBER=A.ACT_NUMBER
                 JOIN ACT_IMG AI ON M3.ACT_NUMBER = AI.ACT_NUMBER
    </select>

    <!--사용자와 매칭된 직원의 평점 출력-->
    <select id="selectMatchEmpAvg" resultType="matchEmpRatingAvgVo">
        SELECT DISTINCT S1.MATCH_NUMBER,S1.USER_NUMBER,SUBMIT_ORDER_NUMBER,S1.EMP_NUMBER,STATUS,
                        (SELECT AVG(RATING) FROM SITTER_BOARD) AS AVG
        FROM(
            SELECT MATCH_NUMBER,USER_NUMBER,SUBMIT_ORDER_NUMBER,EMP_NUMBER,STATUS
            FROM MATCHS
            WHERE USER_NUMBER=#{userNumber} AND STATUS =1
            )S1
            JOIN EMP EP ON S1.EMP_NUMBER= EP.EMP_NUMBER
            JOIN SITTER_BOARD SB ON S1.EMP_NUMBER=SB.EMP_NUMBER
    </select>
</mapper>