<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bomobomo.mapper.OrderMapper">
    <!--동적쿼리 진행 가능여부 확인-->
    <insert id="insert">
        <selectKey keyProperty="orderNumber" order="BEFORE" resultType="long">
            select seq_order.nextval from dual
        </selectKey>
        insert into ORDERS (ORDER_NUMBER, USER_NUMBER, GENDER_FIRST, GENDER_SECOND, KIDS_CONTENT)
        values (#{orderNumber},#{userNumber},#{genderFirst},#{genderSecond},#{kidsContent})
    </insert>

    <!--업 데이트 여부 확인-->
    <update id="update">
        update ORDERS
        set  GENDER_FIRST=#{genderFirst}, GENDER_SECOND=#{genderSecond},KIDS_CONTENT=#{kidsContent}
        where ORDER_NUMBER=#{orderNumber} AND USER_NUMBER=${userNumber}
    </update>

</mapper>