.board-banner-title {
    left: 5%;
}


/* 공지사항 영역  */
.Notice-container {
    font-family: 'IBM Plex Sans KR', sans-serif;
    padding-top: 30px;
    width: 1024px;
    margin: 0 auto;
}

/* 공지사항 영역 타이틀 */
.Notice-container h3{
    width: 524px;
    padding: 15px 15px 15px 0;
}


/* 공지사항 검색 */
.notice-title-search {
    display: flex;
    border-bottom: 1px solid gray;

}

.Notice-search {
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 500px;
}

.Notice-search form {
    display: flex;
    align-items: center
}

.notice-select-search{
    height: 25px;
    width: 70px;
}

.notice-search-bar {
    margin-left: 5px;
    height: 21px;
}

.notice-search-btn {
    margin-left: 5px;
    width: 50px;
    height: 25px;
}






/* 공지사항 테이블 */
.board-table tr {
    height: 45px;
}

.board-table tr td:first-child,
.board-table tr td:nth-child(5){
    width: 50px;
    font-size: 13px;
}

.board-table tr td:nth-child(2){
    padding-left: 20px;
    width: 600px;
    font-size: 14px;
}
.board-table tr td:nth-child(3){
    width: 130px;
    font-size: 14px;
}
.board-table tr td:nth-child(4){
    font-size: 14px;
    width: 194px;
}

.board-table tr td{

    height: 35px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}
.board-table tr td a {
    display: block;
    color: black;
}

.board-table tr td:nth-child(1),
.board-table tr td:nth-child(3),
.board-table tr td:nth-child(4),
.board-table tr td:nth-child(5){
    text-align: center;
}

.board-pagenation-container {
    padding-top: 30px;
}
.board-pagenation-container ul {
    display: flex;
    justify-content: center;
}

.board-pagenation-container ul li {
    text-align: center;
    width: 30px;

}

.board-pagenation-container ul li a {
    color: black;
    display: block;
    font-size: 17px;
    border: 1px solid gray;
}