.board-banner-title {
    left: 5%;
}


/* 공지사항 영역  */
.Notice-container {
    font-family: 'IBM Plex Sans KR', sans-serif;
    padding-top: 30px;
    width: 1024px;

    margin: 0 auto;
}

/* 공지사항 영역 타이틀 */
.Notice-container h3{
    width: 524px;
    padding: 15px 15px 15px 0;
}


/* 공지사항 검색 */
.notice-title-search {
    display: flex;
    border-bottom: 1px solid gray;

}

.Notice-search {
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 500px;
}

.Notice-search form {
    display: flex;
    align-items: center
}

.notice-select-search{
    height: 25px;
    width: 70px;
}

.notice-search-bar {
    margin-left: 5px;
    height: 21px;
}

.notice-search-btn {
    margin-left: 5px;
    width: 50px;
    height: 25px;
}
.cate {
    width: 70px;
    height: 25px;

}
.keyword {
    padding-left: 10px;
    height: 21px;
}


.active-page {
    background-color: #FF7000;
}


/* 공지사항 테이블 */


.notice-section {
    height: 470px;
}

.notice-table tr {
    height: 45px;
}

.notice-number,
.notice-count{
    width: 50px;
    font-size: 13px;
}

.notice-title{
    padding-left: 20px;
    width: 600px;
    font-size: 14px;
}
.notice-writer{
    width: 130px;
    font-size: 14px;
}
.notice-register-date{
    font-size: 14px;
    width: 194px;
}

.notice-content td{

    height: 35px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}
.notice-table tr td a {
    display: block;
    color: black;
}

.notice-table tr td:nth-child(1),
.notice-table tr td:nth-child(3),
.notice-table tr td:nth-child(4),
.notice-table tr td:nth-child(5){
    text-align: center;
}




.backBtn td:last-child {
    text-align: center;

}

.backBtn td:last-child a{
    border: 2px solid red;
    display: inline;
}



.non-notice-search-result td {
    width: 1024px ;
    text-align: center ;
    border: none
}

.non-search-result {
    line-height: 1.9;
    font-size: 15px;
}
.back-to-notice-btn {

    padding: 3px;
    font-size: 14px;
}



/*페이징처리*/
.notice-pagenation-container {
    padding-top: 30px;
}
.notice-pagenation-container ul {
    display: flex;
    justify-content: center;
}

.notice-pagenation-container ul li {
    text-align: center;
    width: 30px;

}

.notice-pagenation-container ul li a {
    color: black;
    display: block;
    font-size: 17px;
    border: 1px solid gray;
}