


.review-banner-container {
    width: 100%;
    height: 300px;
    padding-top: 30px;
    /* background-color: #FF7000; */
}
.review-banner {
    position: relative;
    width: 1024px;
    height: 350px;
    margin: 0 auto;
    font-family: GmarketSansMedium;

    color: white;
}
.review-banner-container img {
    width: 100%;
    height: 100%;

}



.review-banner>p{
    line-height: 2;
    position: absolute;
    font-size: 1em;
    color: rgb(128, 128, 128);
    left: 5%;
    top: 50%;

}



.event-review-move-btn {
    width: 1024px;
    margin: 0 auto;
    /*border: 2px solid red;*/
    text-align: end;
    padding: 15px 0px 15px 0px;
}

.event-review-btn {
    font-family: GmarketSansMedium;
    font-size: 23px;
    /*font-weight: bold;*/
    width: 200px;
    height: 30px;
}






.review-container {
    width: 1024px;
    margin: 0 auto;
    padding-top: 60px;
}

.review-title-container {
    display: flex;
    width: 1024px;
    border-bottom: 1px solid gray;
}

.review-main-title {
    display: flex;
    height: 40px;
    border-bottom: 2px solid black;
}
.review-title {
    font-family: GmarketSansMedium;
    font-size: 13px;
    width: 600px;
    padding-top: 8px;
}

.review-section-title ul {
    width: 1024px;
    display: flex;
    padding:5px 0px 5px 0px;
}

.review-section-title ul li {
    font-family: GmarketSansMedium;
    width: 100%;
    font-size: 0.9em;
    height: 35px;
    border: 1px solid gray;


}
.review-section-title ul li a {
    /*letter-spacing: 0px;*/
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.review-search {
    /* border: 2px solid darkcyan; */
    width: 424px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.review-search-form {
    height: 25px;
    /* border: 2px solid blue; */
    display: flex;
    float: right;

}
.search-bar {
    display: flex;
    align-items: baseline;
}
.search-bar input{
    border: none;
    width: 180px;
    height: 25px;
    margin-right: 10px;
}

.sitter-search-btn button {
    height: 25px;
    cursor: pointer;
    border: none;
}
.sitter-search-btn span {
    background-color: white;

}

.review-content-container {
    height: 700px;
}

.review-ul {
    font-family: GmarketSansMedium;
    padding-top: 50px;
    width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;

    /* border: 2px solid red; */
}

.review-ul li {

    /* border: 2px solid red; */
    width: 250px;
    border: 1px solid gray;
}
.review-ul li a {
    color: black;
}

.review-sitter-img {
    width: 250px;
    height: 180px;
    overflow: hidden;
}
.review-sitter-img img {
    transition: 0.4s all;
    width: 100%;
    height: 100%;
}
.review-img-zoom:hover .review-sitter-img img {
    scale:1.2
}

.review-sitter-content {
    padding: 5px;
    display: flex;
    border-bottom: 1px solid gray;

}
.review-sitter-content p {
    font-size: 14.5px;
    width: 170px;
}

.review-score {

    display: flex;
    align-items: center;
    justify-content: end;
    width: 80px;
}
.review-score span {
    color: #e89f14d9;
}

.review-score img {
    width: 20%;
    height: 100%;
}
.review-text-content {

}
.review-text-content dl {
    height: 90px;
}
.review-text-content dl dt {
    padding: 5px;
    font-size: 14px;
}

.review-text-content dl dd {
    height: 70px;
}
/* 리뷰내용 말줄임표 css */
.review-text-content dd p {
    line-height: 1.3;
    box-sizing: border-box;
    padding: 5px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 13px;
    font-family: GmarketSansMedium;

}


.none-search-img {
    text-align: center;
}
.non-review-search-result {
    line-height: 2;
    width: 1024px;
    text-align: center;
    font-family: GmarketSansMedium;


}
.non-review-search-result-btn {

    text-align: center;
}
.non-review-search-result-btn button {
    border: none;
    padding:3px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    font-family: GmarketSansMedium;

}



.active-page {
    background-color: #FF7000;
}


.review-pagination-container {
    padding-top: 30px;
}
.review-pagination-container ul {
    display: flex;
    justify-content: center;
}

.review-pagination-container ul li {
    text-align: center;
    width: 30px;

}

.review-pagination-container ul li a {
    color: black;
    display: block;
    font-size: 17px;
    border: 1px solid gray;
}