




/* FAQ 영역 컨테이너 */

.FAQ-container {
    font-family: 'IBM Plex Sans KR', sans-serif;

    padding-top: 30px;
    width: 1024px;
    margin: 0 auto;
}

/* FAQ 영역 타이틀 */
.FAQ-container h3{
    /* border-top:1px solid gray; */
    border-bottom: 1px solid gray;

    /* border: 2px solid red; */
    padding: 15px 15px 15px 0;
}


/* FAQ 내용 */
.FAQ-tap-menu ul {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-bottom: 1px solid gray;

}

.FAQ-tap-menu ul li {
    display: flex;
    justify-content: center;
    width: 60px;
}

.FAQ-tap-menu ul a {
    color:rgb(180, 180, 180);
    font-weight: bold;
    font-size: 14px;
}
.FAQ-tap-menu ul .on{
    scale: 1.2;
    color: black;
    border-bottom: 1px solid black
}

.tab_list {

    /* border: 2px solid red; */
}

.tab_list li {
    height: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}



.faq_cont  dt {
    padding: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.faq_cont  dd {
    background-color: rgba(189, 186, 186, 0.151);
    padding: 20px;
    height: 100%;

}

.upBtn {
    scale: 1.3;
    display: block;
    float: right;
}