main {
    width: 100%;
}
/* 게시판 배너 */
.board-banner-title {
    top: 50%;
    right: 5%;
    position: absolute;
}
.board-banner-title p {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Dongle', sans-serif !important;
    font-family: 'Gamja Flower', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Single Day', cursive;  font-size: 21px;
    animation: fadeInUp 1.5s;
    font-size: 2.3em;
    color: rgb(99, 93, 93);


}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}



/* 게시판영역 컨테이너 */
.board-content-container {
    padding-top: 30px;
    position: relative;
}


/* 상단 배너 영역 */

.board-top-img {
    width: 1024px;
    margin: 0 auto;
    height: 300px;
    position: relative;
    /* border: 2px solid red; */
}
.board-top-img figure {
    width: 1024px;
    height: 300px;
    display: flex;
    justify-content: end;
}
.board-top-img img {
    width: 100%;
    height: 100%;
}




/* FAQ _ Notice _ Review 버튼 */

.board-a-btn {
    padding-top: 50px;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.board-a {
    text-align: center;
    border-radius: 20px;
    color: black;
    width: 300px;
}

.board-a-btn dl {
    font-family: 'IBM Plex Sans KR', sans-serif;

    border: 2px solid rgba(211, 211, 211, 0.521);
    border-radius: 20px;
    padding: 20px;
}



.board-a-btn dl dd:nth-child(2){
    padding-top: 10px;
}
.board-a-btn a img {

    width: 80px;
    height: 75px;
}



